import pandas as pd

In [552]:
from sshtunnel import SSHTunnelForwarder

AWS_IP_ADDRESS = '18.236.145.213'
AWS_USERNAME = 'luke'
SSH_KEY_PATH = '/users/luketibbott/.ssh/id_rsa'

server = SSHTunnelForwarder(
    AWS_IP_ADDRESS,
    ssh_username=AWS_USERNAME,
    ssh_pkey=SSH_KEY_PATH,
    remote_bind_address=('localhost', 5432),
)

server.start()
print(server.is_active, server.is_alive, server.local_bind_port)

True True 50037

In [553]:
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_IP_ADDRESS = 'localhost' ## This is localhost because SSH tunnel is active
POSTGRES_PORT = str(server.local_bind_port)
POSTGRES_USERNAME = 'luke'     ## CHANGE THIS TO YOUR POSTGRES USERNAME
POSTGRES_PASSWORD = 'luke' ## CHANGE THIS TO YOUR POSTGRES PASSWORD
POSTGRES_DBNAME = 'tennis'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME, 
                        password=POSTGRES_PASSWORD,
                        ipaddress=POSTGRES_IP_ADDRESS,
                        port=POSTGRES_PORT,
                        dbname=POSTGRES_DBNAME))

# Create the connection
cnx = create_engine(postgres_str)

In [554]:
cnx.table_names()

['aus_ladies_2013',
 'aus_men_2013',
 'us_men_2013',
 'us_ladies_2013',
 'french_men_2013',
 'french_ladies_2013',
 'wimbledon_men_2013',
 'wimbledon_ladies_2013']

**Question 1:** Using the same tennis data, find the number of matches played by each player in each tournament. (Remember that a player can be present as both player1 or player2).

In [488]:
pd.read_sql_query('''
                         /* Women player 1 */
                    WITH t1 AS (SELECT al.player1 ALp1, COUNT(al.player1) ALc1
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t2 AS (SELECT fl.player1 FLp1, COUNT(fl.player1) FLc1
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t3 AS (SELECT usl.player1 USLp1, COUNT(usl.player1) USLc1
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t4 AS (SELECT wl.player1 WLp1, COUNT(wl.player1) WLc1
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1),
                         /* Women player 2 */       
                         t5 AS (SELECT al.player2 ALp2, COUNT(al.player2) ALc2
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t6 AS (SELECT fl.player2 FLp2, COUNT(fl.player2) FLc2
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t7 AS (SELECT usl.player2 USLp2, COUNT(usl.player2) USLc2
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t8 AS (SELECT wl.player2 WLp2, COUNT(wl.player2) WLc2
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1), 
                         /* Men player 1 */       
                         t9 AS (SELECT am.player1 amp1, COUNT(am.player1) amc1
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t10 AS (SELECT fm.player1 fmp1, COUNT(fm.player1) fmc1
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t11 AS (SELECT usm.player1 usmp1, COUNT(usm.player1) usmc1
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t12 AS (SELECT wm.player1 wmp1, COUNT(wm.player1) wmc1
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                        /* Men player 2 */
                         t13 AS (SELECT am.player2 amp2, COUNT(am.player2) amc2
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t14 AS (SELECT fm.player2 fmp2, COUNT(fm.player2) fmc2
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t15 AS (SELECT usm.player2 usmp2, COUNT(usm.player2) usmc2
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t16 AS (SELECT wm.player2 wmp2, COUNT(wm.player2) wmc2
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                                
                         women_p1 AS (SELECT *
                                FROM t1
                                FULL OUTER JOIN t2
                                ON t1.ALp1 = t2.FLp1
                                FULL OUTER JOIN t3
                                ON LEFT(t1.ALp1, 1) = LEFT(t3.USLp1, 1) AND
                                RIGHT(t1.ALp1, CHAR_LENGTH(t1.ALp1) - POSITION(' ' IN t1.ALp1)) = 
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1)) AND
                                LEFT(t2.FLp1, 1) = LEFT(t3.USLp1, 1) AND
                                RIGHT(t2.FLp1, CHAR_LENGTH(t2.FLp1) - POSITION(' ' IN t2.FLp1)) = 
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1))
                                FULL OUTER JOIN t4
                                ON LEFT(t1.ALp1, 1) = LEFT(t4.WLp1, 1) AND LEFT(t2.FLp1, 1) = LEFT(t4.WLp1, 1) AND
                                LEFT(t3.USLp1, 1) = LEFT(t4.WLp1, 1) AND 
                                RIGHT(t1.ALp1, CHAR_LENGTH(t1.ALp1) - POSITION(' ' IN t1.ALp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1)) AND
                                RIGHT(t2.FLp1, CHAR_LENGTH(t2.FLp1) - POSITION(' ' IN t2.FLp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1)) AND
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1))
                                ),
                                
                         women_p2 AS (SELECT *
                                 FROM t5
                                 FULL OUTER JOIN t6
                                 ON t5.ALp2 = t6.FLp2
                                 FULL OUTER JOIN t7
                                 ON LEFT(t5.ALp2, 1) = LEFT(t7.USLp2, 1) AND
                                 RIGHT(t5.ALp2, CHAR_LENGTH(t5.ALp2) - POSITION(' ' IN t5.ALp2)) = 
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2)) AND
                                 LEFT(t6.FLp2, 1) = LEFT(t7.USLp2, 1) AND
                                 RIGHT(t6.FLp2, CHAR_LENGTH(t6.FLp2) - POSITION(' ' IN t6.FLp2)) = 
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2))
                                 FULL OUTER JOIN t8
                                 ON LEFT(t5.ALp2, 1) = LEFT(t8.WLp2, 1) AND LEFT(t6.FLp2, 1) = LEFT(t8.WLp2, 1) AND
                                 LEFT(t7.USLp2, 1) = LEFT(t8.WLp2, 1) AND 
                                 RIGHT(t5.ALp2, CHAR_LENGTH(t5.ALp2) - POSITION(' ' IN t5.ALp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2)) AND
                                 RIGHT(t6.FLp2, CHAR_LENGTH(t6.FLp2) - POSITION(' ' IN t6.FLp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2)) AND
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2))
                                 ),
                                 
                         men_p1 AS (SELECT *
                              FROM t9
                              FULL OUTER JOIN t10
                              ON t9.amp1 = t10.fmp1
                              FULL OUTER JOIN t11
                              ON LEFT(t9.amp1, 1) = LEFT(t11.usmp1, 1) AND
                                RIGHT(t9.amp1, CHAR_LENGTH(t9.amp1) - POSITION(' ' IN t9.amp1)) = 
                                RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1)) AND
                                LEFT(t10.fmp1, 1) = LEFT(t11.usmp1, 1) AND
                                RIGHT(t10.fmp1, CHAR_LENGTH(t10.fmp1) - POSITION(' ' IN t10.fmp1)) = 
                                RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1))
                              FULL OUTER JOIN t12
                              ON LEFT(t9.amp1, 1) = LEFT(t12.wmp1, 1) AND LEFT(t10.fmp1, 1) = LEFT(t12.wmp1, 1) AND
                                 LEFT(t11.usmp1, 1) = LEFT(t12.wmp1, 1) AND 
                                 RIGHT(t9.amp1, CHAR_LENGTH(t9.amp1) - POSITION(' ' IN t9.amp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1)) AND
                                 RIGHT(t10.fmp1, CHAR_LENGTH(t10.fmp1) - POSITION(' ' IN t10.fmp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1)) AND
                                 RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1))
                              ),
                              
                         men_p2 AS (SELECT *
                              FROM t13
                              FULL OUTER JOIN t14
                              ON t13.amp2 = t14.fmp2
                              FULL OUTER JOIN t15
                              ON LEFT(t13.amp2, 1) = LEFT(t15.usmp2, 1) AND
                                 RIGHT(t13.amp2, CHAR_LENGTH(t13.amp2) - POSITION(' ' IN t13.amp2)) = 
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2)) AND
                                 LEFT(t14.fmp2, 1) = LEFT(t14.fmp2, 1) AND
                                 RIGHT(t14.fmp2, CHAR_LENGTH(t14.fmp2) - POSITION(' ' IN t14.fmp2)) = 
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2))
                              FULL OUTER JOIN t16
                              ON LEFT(t13.amp2, 1) = LEFT(t16.wmp2, 1) AND LEFT(t14.fmp2, 1) = LEFT(t16.wmp2, 1) AND
                                 LEFT(t15.usmp2, 1) = LEFT(t16.wmp2, 1) AND 
                                 RIGHT(t13.amp2, CHAR_LENGTH(t13.amp2) - POSITION(' ' IN t13.amp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2)) AND
                                 RIGHT(t14.fmp2, CHAR_LENGTH(t14.fmp2) - POSITION(' ' IN t14.fmp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2)) AND
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2))
                              ),
                         
                         men_app AS (SELECT mp1.amp1, COALESCE((mp1.amc1 + mp2.amc2), 0) aus_men_app,
                                     mp1.fmp1, COALESCE((mp1.fmc1 + mp2.fmc2), 0) french_men_app,
                                     mp1.usmp1, COALESCE((mp1.usmc1 + mp2.usmc2), 0) us_men_app,
                                     mp1.wmp1, COALESCE((mp1.wmc1 + mp2.wmc2), 0) wimb_men_app
                                     FROM men_p1 mp1
                                     JOIN men_p2 mp2
                                     ON mp1.amp1 = mp2.amp2 OR mp1.fmp1 = mp2.fmp2
                                        OR mp1.usmp1 = mp2.usmp2 OR mp1.wmp1 = mp2.wmp2),
                                        
                         unique_men AS (SELECT RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1))
                                      AS men_players
                                      FROM men_app
                                      WHERE amp1 IS NOT NULL
                                      UNION 
                                      SELECT RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1))
                                      FROM men_app
                                      WHERE fmp1 IS NOT NULL
                                      UNION
                                      SELECT RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1))
                                      FROM men_app
                                      WHERE usmp1 IS NOT NULL
                                      UNION
                                      SELECT RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1))
                                      FROM men_app
                                      WHERE wmp1 IS NOT NULL),
                                 
                         women_app AS (SELECT wp1.alp1, COALESCE((wp1.alc1 + wp2.alc2), 0) aus_ladies_app, 
                                    wp1.flp1, COALESCE((wp1.flc1 + wp2.flc2), 0) french_ladies_app,
                                    wp1.uslp1, COALESCE((wp1.uslc1 + wp2.uslc2), 0) us_ladies_app,
                                    wp1.wlp1, COALESCE((wp1.wlc1 + wp2.wlc2), 0) wimb_ladies_app
                                    FROM women_p1 wp1
                                    JOIN women_p2 wp2
                                    ON wp1.alp1 = wp2.alp2 OR wp1.flp1 = wp2.flp2
                                       OR wp1.uslp1 = wp2.uslp2 OR wp1.wlp1 = wp2.wlp2),
                                       
                         unique_women AS (SELECT RIGHT(alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1))
                                    AS women_players
                                    FROM women_app
                                    WHERE alp1 IS NOT NULL
                                    UNION
                                    SELECT RIGHT(flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1))
                                    FROM women_app
                                    WHERE flp1 IS NOT NULL
                                    UNION 
                                    SELECT RIGHT(uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1))
                                    FROM women_app
                                    WHERE uslp1 IS NOT NULL
                                    UNION
                                    SELECT RIGHT(wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1))
                                    FROM women_app
                                    WHERE wlp1 IS NOT NULL),
                                    
                    tourn_appearances_men AS (SELECT um.men_players, ma.aus_men_app australian_appearances,
                                        ma.french_men_app french_appearances, ma.us_men_app US_appearances,
                                        ma.wimb_men_app wimbledon_appearances
                                    FROM unique_men um
                                    JOIN men_app ma
                                    ON RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1)) = um.men_players
                                        OR RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1)) = um.men_players
                                        OR RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1)) = um.men_players
                                        OR RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1)) = um.men_players),
                                    
                    tourn_appearances_women AS (SELECT uw.women_players, wa.aus_ladies_app australian_appearances, 
                                       wa.french_ladies_app french_appearances, wa.us_ladies_app US_appearances,
                                       wa.wimb_ladies_app wimbledon_appearances
                                    FROM unique_women uw
                                    JOIN women_app wa
                                    ON RIGHT(wa.alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1)) = uw.women_players
                                        OR RIGHT(wa.flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1)) = uw.women_players
                                        OR RIGHT(wa.uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1)) = uw.women_players
                                        OR RIGHT(wa.wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1)) = uw.women_players),
                                    
                    
                    all_appearances_men AS (SELECT *
                        FROM men_p1
                        UNION
                        SELECT *
                        FROM men_p2),
                        
                    all_appearances_women AS (SELECT *
                        FROM women_p1
                        UNION
                        SELECT *
                        FROM women_p2),
                        
                    men_solution AS (SELECT COALESCE(amp1, COALESCE(fmp1, COALESCE(usmp1, COALESCE(wmp1, 'None')))) player,
                    SUM(COALESCE(amc1, 0) + COALESCE(fmc1, 0) + COALESCE(usmc1, 0) + COALESCE(wmc1, 0)) appearances
                    FROM all_appearances_men
                    GROUP BY 1
                    ORDER BY appearances DESC),
                    
                    women_solution AS (SELECT COALESCE(alp1, COALESCE(flp1, COALESCE(uslp1, COALESCE(wlp1, 'None')))) player,
                    SUM(COALESCE(alc1, 0) + COALESCE(flc1, 0) + COALESCE(uslc1, 0) + COALESCE(wlc1, 0)) appearances
                    FROM all_appearances_women
                    GROUP BY 1
                    ORDER BY appearances DESC)
                        
                    SELECT *
                    FROM women_solution
                    UNION
                    SELECT *
                    FROM men_solution
                    ORDER BY appearances DESC;
                    
                  ''', cnx)

                         player  appearances
0               Serena Williams         21.0
1                  Rafael Nadal         21.0
2             Victoria Azarenka         19.0
3            Stanislas Wawrinka         18.0
4                Novak Djokovic         17.0
5                 Tommy Robredo         17.0
6                  David Ferrer         17.0
7                 Roger Federer         15.0
8               Jelena Jankovic         14.0
9               Richard Gasquet         13.0
10                 Alize Cornet         12.0
11              Mikhail Youzhny         12.0
12         Carla Suarez Navarro         11.0
13                Tomas Berdych         11.0
14          Agnieszka Radwanska         11.0
15              Maria Sharapova         11.0
16             Eugenie Bouchard         11.0
17                Denis Istomin         10.0
18                  Andy Murray         10.0
19               Kevin Anderson         10.0
20                 Milos Raonic         10.0
21           Jo-Wilfried Tsonga         10.0
22              Grigor Dimitrov          9.0
23        Roberto Bautista Agut          9.0
24                        Na Li          9.0
25                  Sara Errani          9.0
26              Feliciano Lopez          9.0
27                Andreas Seppi          9.0
28                   Tommy Haas          9.0
29                 Ana Ivanovic          9.0
30            Karolina Pliskova          9.0
31            Fernando Verdasco          9.0
32           Dominika Cibulkova          9.0
33                Kei Nishikori          9.0
34                    Jie Zheng          9.0
35                  Sam Querrey          9.0
36              Sloane Stephens          8.0
37                 Gael Monfils          8.0
38                 Simona Halep          8.0
39       Edouard Roger-Vasselin          8.0
40                  A.Radwanska          8.0
41                Florian Mayer          8.0
42              Flavia Pennetta          8.0
43                Fabio Fognini          8.0
44             Angelique Kerber          8.0
45             Julien Benneteau          8.0
46                Jeremy Chardy          8.0
47                     A.Murray          7.0
48           Daniela Hantuchova          7.0
49                    M.Bartoli          7.0
50                    S.Lisicki          7.0
51               Lleyton Hewitt          7.0
52                 Gilles Simon          7.0
53                   John Isner          7.0
54        Philipp Kohlschreiber          7.0
55            Nikolay Davydenko          7.0
56            Bojana Jovanovski          7.0
57               Jerzy Janowicz          7.0
58                 Madison Keys          7.0
59             Adrian Mannarino          7.0
60              Elina Svitolina          7.0
61                    Jack Sock          7.0
62                 Benoit Paire          7.0
63                   N.Djokovic          7.0
64              Jarkko Nieminen          7.0
65              Dmitry Tursunov          7.0
66              Samantha Stosur          6.0
67                   Shuai Peng          6.0
68             Janko Tipsarevic          6.0
69              Paula Ormaechea          6.0
70                Martin Klizan          6.0
71          Svetlana Kuznetsova          6.0
72            Varvara Lepchenko          6.0
73                         N Li          6.0
74                 Tobias Kamke          6.0
75                   Ivan Dodig          6.0
76                  J.Del Potro          6.0
77               Victor Hanescu          6.0
78                   Joao Sousa          6.0
79             Garbine Muguruza          6.0
80                  Yen-Hsun Lu          6.0
81                   K.Flipkens          6.0
82     Anastasia Pavlyuchenkova          5.0
83                    T.Berdych          5.0
84          Francesca Schiavone          5.0
85           Ekaterina Makarova          5.0
86                  Kaia Kanepi          5.0
87                         N.Li          5.0
88              Stephane Robert          5.0
89                  Karin Knapp          5.0
90                 Nick Kyrgios          5.0
91               Sabine Lisicki          5.0
92              Maria Kirilenko          5.0
93              Nicolas Almagro          5.0
94          Kristina Mladenovic          5.0
95           Caroline Wozniacki          5.0
96                Camila Giorgi          5.0
97             Virginie Razzano          5.0
98             Somdev Devvarman          5.0
99               Ernests Gulbis          5.0
100             Marina Erakovic          5.0
101                 Denis Kudla          5.0
102            Marcos Baghdatis          5.0
103                 Marin Cilic          5.0
104           Dinah Pfizenmaier          5.0
105                 Robin Haase          5.0
106            Stefanie Voegele          5.0
107           Marcel Granollers          5.0
108                 Lukas Rosol          5.0
109                  J.Janowicz          5.0
110              Leonardo Mayer          5.0
111           Michal Przysiezny          5.0
112               Roberta Vinci          5.0
113               Ryan Harrison          5.0
114               Pablo Andujar          5.0
115       Bethanie Mattek-Sands          5.0
116                 Monica Puig          5.0
117                  S.Stephens          5.0
118                Donald Young          5.0
119          Yaroslava Shvedova          5.0
120        Daniel Gimeno-Traver          5.0
121                    Go Soeda          5.0
122                     I.Dodig          4.0
123             Michael Russell          4.0
124      Guillermo Garcia-Lopez          4.0
125                    A Kerber          4.0
126                   P.Kvitova          4.0
127               Petra Kvitova          4.0
128              Sorana Cirstea          4.0
129                    D.Ferrer          4.0
130              Michael Llodra          4.0
131                 Annika Beck          4.0
132              Vasek Pospisil          4.0
133             Albert Montanes          4.0
134                  A Ivanovic          4.0
135           Mikhail Kukushkin          4.0
136                     R.Vinci          4.0
137             Casey Dellacqua          4.0
138            Kirsten Flipkens          4.0
139                  Misaki Doi          4.0
140                Lauren Davis          4.0
141               Julia Goerges          4.0
142                 Tim Smyczek          4.0
143         Alexandr Dolgopolov          4.0
144        Magdalena Rybarikova          4.0
145              Lucie Safarova          4.0
146            Horacio Zeballos          4.0
147                  S Stephens          4.0
148              Evgeny Donskoy          4.0
149       Juan Martin Del Potro          4.0
150            Monica Niculescu          4.0
151           Kenny De Schepper          4.0
152                Mona Barthel          4.0
153                      M.Puig          4.0
154               Igor Sijsling          4.0
155           Galina Voskoboeva          4.0
156              Carlos Berlocq          4.0
157                 Lukas Lacko          4.0
158                Lukasz Kubot          4.0
159                Albert Ramos          4.0
160               Mandy Minella          3.0
161                    L.Robson          3.0
162                Vesna Dolonc          3.0
163                  E.Makarova          3.0
164                K.Date-Krumm          3.0
165                Alison Riske          3.0
166                 Jiri Vesely          3.0
167                Ivo Karlovic          3.0
168           Sergiy Stakhovsky          3.0
169                    L Robson          3.0
170           Marinko Matosevic          3.0
171               Damir Dzumhur          3.0
172             Anna Tatishvili          3.0
173  Barbora Zahlavova Strycova          3.0
174                 Guido Pella          3.0
175                    V.Dolonc          3.0
176                  I.Sijsling          3.0
177                 Kurumi Nara          3.0
178           Federico Delbonis          3.0
179                    C McHale          3.0
180          Jan-Lennard Struff          3.0
181                    K.Kanepi          3.0
182                 Juan Monaco          3.0
183                Aljaz Bedene          3.0
184                K.Zakopalova          3.0
185            Santiago Giraldo          3.0
186            C Suarez Navarro          3.0
187                   N.Almagro          3.0
188                   R.Gasquet          3.0
189              Lucie Hradecka          3.0
190                     K.Knapp          3.0
191                   J Hampton          3.0
192                Grega Zemlja          3.0
193         Rogerio Dutra Silva          3.0
194            Christina McHale          3.0
195                     A Riske          3.0
196                    G.Zemlja          3.0
197          Tsvetana Pironkova          3.0
198                  F.Pennetta          3.0
199              Marion Bartoli          3.0
200            Yanina Wickmayer          3.0
201                  K.Anderson          3.0
202                     D.Brown          3.0
203           Ricardas Berankis          3.0
204                  M.Erakovic          3.0
205                 D.Cibulkova          3.0
206        Mariana Duque-Marino          3.0
207                   Jan Hajek          3.0
208                Zarina Diyas          3.0
209         Teymuraz Gabashvili          3.0
210                 E.Birnerova          3.0
211                 K.Nishikori          3.0
212                     L.Kubot          3.0
213              Venus Williams          3.0
214             Peter Gojowczyk          3.0
215               Jana Cepelova          3.0
216                 A.Kuznetsov          3.0
217             Alejandro Falla          3.0
218                    S.Stosur          3.0
219              Ashleigh Barty          3.0
220               Daniel Brands          3.0
221                    J.Chardy          3.0
222                     R Vinci          3.0
223            Yulia Putintseva          3.0
224                Ayumi Morita          3.0
225                   S Lisicki          3.0
226       Silvia Soler-Espinosa          3.0
227           Yvonne Meusburger          3.0
228               Bernard Tomic          3.0
229                S.Stakhovsky          3.0
230              Rhyne Williams          3.0
231                  Vania King          3.0
232                Daniel Evans          3.0
233                S Kuznetsova          3.0
234              Frank Dancevic          3.0
235               Bradley Klahn          3.0
236             Olga Govortsova          3.0
237                 P.Cetkovska          3.0
238              Radek Stepanek          3.0
239             Caroline Garcia          3.0
240             Benjamin Becker          3.0
241             Johanna Larsson          3.0
242               Lucas Pouille          3.0
243                      T.Haas          3.0
244                Pablo Cuevas          3.0
245             Petra Cetkovska          3.0
246                  F Pennetta          3.0
247               Steve Johnson          3.0
248                    P.Martic          3.0
249          M.Larcher De Brito          3.0
250             James Duckworth          3.0
251            Anna Schmiedlova          2.0
252          Irina-Camelia Begu          2.0
253                  E Makarova          2.0
254                 Jurgen Zopp          2.0
255              Lesia Tsurenko          2.0
256                     B.Paire          2.0
257               Paolo Lorenzi          2.0
258               Elena Vesnina          2.0
259                 C Wozniacki          2.0
260                  A.Ivanovic          2.0
261                  G.Muguruza          2.0
262                David Goffin          2.0
263                Kiki Bertens          2.0
264                  J-W.Tsonga          2.0
265                  O.Puchkova          2.0
266             Thomaz Bellucci          2.0
267                D Hantuchova          2.0
268                   Dudi Sela          2.0
269            A Pavlyuchenkova          2.0
270                     J.Blake          2.0
271            Filippo Volandri          2.0
272               Dusan Lajovic          2.0
273                 A.Mannarino          2.0
274                   Blaz Rola          2.0
275          Alex Bogomolov Jr.          2.0
276              Heather Watson          2.0
277                  J.Cepelova          2.0
278   Anna Karolina Schmiedlova          2.0
279                  A Dulgheru          2.0
280                 M.Johansson          2.0
281            S.Soler-Espinosa          2.0
282                     A.Seppi          2.0
283                A.Dolgopolov          2.0
284                   S.Cirstea          2.0
285               Jamie Hampton          2.0
286              M.Lucic-Baroni          2.0
287                      A.Beck          2.0
288          Philipp Petzschner          2.0
289                    M.Raonic          2.0
290            Andrey Kuznetsov          2.0
291                    D.Brands          2.0
292                    E.Gulbis          2.0
293                   R.Federer          2.0
294          Paul-Henri Mathieu          2.0
295                    S.Robert          2.0
296                   P Kvitova          2.0
297                Su-Wei Hsieh          2.0
298           Alexandra Cadantu          2.0
299              Michael Berrer          2.0
300           Alla Kudryavtseva          2.0
301                       R.Ram          2.0
302             Olivia Rogowska          2.0
303                M.Przysiezny          2.0
304          Pauline Parmentier          2.0
305                   M.Barthel          2.0
306               Julia Glushko          2.0
307                     S Halep          2.0
308                 J.Benneteau          2.0
309                M.Torro-Flor          2.0
310                     B.Tomic          2.0
311                    J.Melzer          2.0
312                   M.Youzhny          2.0
313            Klara Zakopalova          2.0
314              Julian Reister          2.0
315                  L.Safarova          2.0
316                 Shahar Peer          2.0
317                 James Blake          2.0
318             Guillaume Rufin          2.0
319               Nicolas Mahut          2.0
320                    J.Monaco          2.0
321                     G.Rufin          2.0
322                Laura Robson          2.0
323       Andreas Haider-Maurer          2.0
324              Viktor Troicki          2.0
325                 M.Sharapova          2.0
326        Mirjana Lucic-Baroni          2.0
327      Lourdes Dominguez Lino          2.0
328               Irina Falconi          2.0
329                    C.Giorgi          2.0
330               Florent Serra          2.0
331          Chanelle Scheepers          2.0
332                 C.Wozniacki          2.0
333                 Blaz Kavcic          2.0
334                 Donna Vekic          2.0
335              Xavier Malisse          2.0
336                  A.Petkovic          2.0
337                 T.Pironkova          2.0
338               Jurgen Melzer          2.0
339           Kimiko Date-Krumm          2.0
340                  G.Dimitrov          2.0
341            Ajla Tomljanovic          2.0
342                Petra Martic          2.0
343                  Rajeev Ram          1.0
344        B.Zahlavova Strycova          1.0
345               Yung-Jan Chan          1.0
346                      K Nara          1.0
347                 S Arvidsson          1.0
348                    J.Struff          1.0
349                    L.Hewitt          1.0
350                   R.Oprandi          1.0
351                  E.Bouchard          1.0
352                O Govortsova          1.0
353              Irena Pavlovic          1.0
354                   J.Hampton          1.0
355                      V.King          1.0
356                      Y-H.Lu          1.0
357             Albano Olivetti          1.0
358                    C.McHale          1.0
359              L Arruabarrena          1.0
360                 U.Radwanska          1.0
361                     R.Nadal          1.0
362                    C Garcia          1.0
363                    S.Murray          1.0
364          Alejandro Gonzalez          1.0
365                  V Williams          1.0
366                     S.Halep          1.0
367               A Tomljanovic          1.0
368      Stephanie Foretz Gacon          1.0
369               Tamira Paszek          1.0
370            L Dominguez Lino          1.0
371                P.Parmentier          1.0
372                 M Kirilenko          1.0
373                  L Hradecka          1.0
374              Vincent Millot          1.0
375               K.De Schepper          1.0
376           Claire Feuerstein          1.0
377            C.Suarez Navarro          1.0
378                      I.Begu          1.0
379                     L Davis          1.0
380                   J.Larsson          1.0
381                P.Petzschner          1.0
382             Jordan Thompson          1.0
383             Illya Marchenko          1.0
384                  C Wozniack          1.0
385                G Voskoboeva          1.0
386                Martin Alund          1.0
387                   J.Reister          1.0
388                  B.Reynolds          1.0
389                 P-H.Mathieu          1.0
390                Y Meusburger          1.0
391              Ying-Ying Duan          1.0
392                    B.Kavcic          1.0
393                   M.Koehler          1.0
394                 Timea Babos          1.0
395               A.Tomljanovic          1.0
396                   X.Malisse          1.0
397                    A.Bedene          1.0
398                O.Govortsova          1.0
399                   B.Knittel          1.0
400                   V.Razzano          1.0
401                  A Petkovic          1.0
402            A.Pavlyuchenkova          1.0
403                Adrian Ungur          1.0
404                   A Wozniak          1.0
405                     G.Elias          1.0
406                    M.Llodra          1.0
407                    A.Morita          1.0
408           Kristyna Pliskova          1.0
409            Carina Witthoeft          1.0
410             Nadiya Kichenok          1.0
411                   M.Camerin          1.0
412           Jarmila Gajdosova          1.0
413                   M Minella          1.0
414                M.Granollers          1.0
415                    A.Glatch          1.0
416                  L.Hradecka          1.0
417               Wayne Odesnik          1.0
418                  E.Baltacha          1.0
419           Andrea Hlavackova          1.0
420               Hao Chen Tang          1.0
421         Pablo Carreno Busta          1.0
422                 Y.Wickmayer          1.0
423                      M.Keys          1.0
424                   W.Odesnik          1.0
425                   S.Bolelli          1.0
426               N.Bratchikova          1.0
427                 S.Arvidsson          1.0
428                  V.Pospisil          1.0
429                 M.Baghdatis          1.0
430                 T.De Bakker          1.0
431                  R.Stepanek          1.0
432                   S-W.Hsieh          1.0
433                     N.Mahut          1.0
434                  E Bouchard          1.0
435              Alex Kuznetsov          1.0
436                  R.Berankis          1.0
437                Marc Gicquel          1.0
438              Elena Baltacha          1.0
439                    S Stosur          1.0
440          Thanasi Kokkinakis          1.0
441                     F.Mayer          1.0
442                 Brian Baker          1.0

Above are the players and number of appearances in each tournament.

**Question 2:** Who has played the most matches total in all of US Open, AUST Open, French Open? Answer this both for men and women.

I'll use my last query to answer this.

In [485]:
pd.read_sql_query('''
                         /* Women player 1 */
                    WITH t1 AS (SELECT DISTINCT al.player1 ALp1, COUNT(al.player1) ALc1
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t2 AS (SELECT DISTINCT fl.player1 FLp1, COUNT(fl.player1) FLc1
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t3 AS (SELECT DISTINCT usl.player1 USLp1, COUNT(usl.player1) USLc1
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t4 AS (SELECT DISTINCT wl.player1 WLp1, COUNT(wl.player1) WLc1
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1),
                         /* Women player 2 */       
                         t5 AS (SELECT DISTINCT al.player2 ALp2, COUNT(al.player2) ALc2
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t6 AS (SELECT DISTINCT fl.player2 FLp2, COUNT(fl.player2) FLc2
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t7 AS (SELECT DISTINCT usl.player2 USLp2, COUNT(usl.player2) USLc2
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t8 AS (SELECT DISTINCT wl.player2 WLp2, COUNT(wl.player2) WLc2
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1), 
                         /* Men player 1 */       
                         t9 AS (SELECT DISTINCT am.player1 amp1, COUNT(am.player1) amc1
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t10 AS (SELECT DISTINCT fm.player1 fmp1, COUNT(fm.player1) fmc1
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t11 AS (SELECT DISTINCT usm.player1 usmp1, COUNT(usm.player1) usmc1
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t12 AS (SELECT DISTINCT wm.player1 wmp1, COUNT(wm.player1) wmc1
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                        /* Men player 2 */
                         t13 AS (SELECT DISTINCT am.player2 amp2, COUNT(am.player2) amc2
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t14 AS (SELECT DISTINCT fm.player2 fmp2, COUNT(fm.player2) fmc2
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t15 AS (SELECT DISTINCT usm.player2 usmp2, COUNT(usm.player2) usmc2
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t16 AS (SELECT DISTINCT wm.player2 wmp2, COUNT(wm.player2) wmc2
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                                
                         women_p1 AS (SELECT *
                                FROM t1
                                FULL OUTER JOIN t2
                                ON t1.ALp1 = t2.FLp1
                                FULL OUTER JOIN t3
                                ON t1.ALp1 = t3.USLp1 AND t2.FLp1 = t3.USLp1
                                FULL OUTER JOIN t4
                                ON t1.ALp1 = t4.WLp1 AND t2.FLp1 = t4.WLp1 AND t3.USLp1 = t4.WLp1),
                                
                         women_p2 AS (SELECT *
                                 FROM t5
                                 FULL OUTER JOIN t6
                                 ON t5.ALp2 = t6.FLp2
                                 FULL OUTER JOIN t7
                                 ON t5.ALp2 = t7.USLp2 AND t6.FLp2 = t7.USLp2
                                 FULL OUTER JOIN t8
                                 ON t5.ALp2 = t8.WLp2 AND t6.FLp2 = t8.WLp2 AND t7.USLp2 = t8.WLp2),
                                 
                         men_p1 AS (SELECT *
                              FROM t9
                              FULL OUTER JOIN t10
                              ON t9.amp1 = t10.fmp1
                              FULL OUTER JOIN t11
                              ON t9.amp1 = t11.usmp1 AND t10.fmp1 = t11.usmp1
                              FULL OUTER JOIN t12
                              ON t9.amp1 = t12.wmp1 AND t10.fmp1 = t12.wmp1 AND t11.usmp1 = t12.wmp1),
                              
                         men_p2 AS (SELECT *
                              FROM t13
                              FULL OUTER JOIN t14
                              ON t13.amp2 = t14.fmp2
                              FULL OUTER JOIN t15
                              ON t13.amp2 = t15.usmp2 AND t14.fmp2 = t15.usmp2
                              FULL OUTER JOIN t16
                              ON t13.amp2 = t16.wmp2 AND t14.fmp2 = t16.wmp2 AND t15.usmp2 = t16.wmp2),
                         
                         men_app AS (SELECT mp1.amp1, COALESCE((mp1.amc1 + mp2.amc2), 0) aus_men_app,
                                     mp1.fmp1, COALESCE((mp1.fmc1 + mp2.fmc2), 0) french_men_app,
                                     mp1.usmp1, COALESCE((mp1.usmc1 + mp2.usmc2), 0) us_men_app,
                                     mp1.wmp1, COALESCE((mp1.wmc1 + mp2.wmc2), 0) wimb_men_app
                                     FROM men_p1 mp1
                                     JOIN men_p2 mp2
                                     ON mp1.amp1 = mp2.amp2 OR mp1.fmp1 = mp2.fmp2
                                        OR mp1.usmp1 = mp2.usmp2 OR mp1.wmp1 = mp2.wmp2),
                                        
                         unique_men AS (SELECT amp1 AS full_name, RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1))
                                      AS men_players
                                      FROM men_app
                                      WHERE amp1 IS NOT NULL
                                      UNION 
                                      SELECT fmp1, RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1))
                                      FROM men_app
                                      WHERE fmp1 IS NOT NULL
                                      UNION
                                      SELECT usmp1, RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1))
                                      FROM men_app
                                      WHERE usmp1 IS NOT NULL
                                      UNION
                                      SELECT wmp1, RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1))
                                      FROM men_app
                                      WHERE wmp1 IS NOT NULL),
                                 
                         women_app AS (SELECT wp1.alp1, COALESCE((wp1.alc1 + wp2.alc2), 0) aus_ladies_app, 
                                    wp1.flp1, COALESCE((wp1.flc1 + wp2.flc2), 0) french_ladies_app,
                                    wp1.uslp1, COALESCE((wp1.uslc1 + wp2.uslc2), 0) us_ladies_app,
                                    wp1.wlp1, COALESCE((wp1.wlc1 + wp2.wlc2), 0) wimb_ladies_app
                                    FROM women_p1 wp1
                                    JOIN women_p2 wp2
                                    ON wp1.alp1 = wp2.alp2 OR wp1.flp1 = wp2.flp2
                                       OR wp1.uslp1 = wp2.uslp2 OR wp1.wlp1 = wp2.wlp2),
                                       
                         unique_women AS (SELECT alp1 AS full_name, RIGHT(alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1))
                                    AS women_players
                                    FROM women_app
                                    WHERE alp1 IS NOT NULL
                                    UNION
                                    SELECT flp1, RIGHT(flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1))
                                    FROM women_app
                                    WHERE flp1 IS NOT NULL
                                    UNION 
                                    SELECT uslp1, RIGHT(uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1))
                                    FROM women_app
                                    WHERE uslp1 IS NOT NULL
                                    UNION
                                    SELECT wlp1, RIGHT(wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1))
                                    FROM women_app
                                    WHERE wlp1 IS NOT NULL),
                                    
                    tourn_appearances_men AS (SELECT um.full_name, ma.aus_men_app australian_appearances,
                                        ma.french_men_app french_appearances, ma.us_men_app US_appearances,
                                        ma.wimb_men_app wimbledon_appearances
                                    FROM unique_men um
                                    JOIN men_app ma
                                    ON RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1)) = um.men_players
                                        OR RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1)) = um.men_players
                                        OR RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1)) = um.men_players
                                        OR RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1)) = um.men_players),
                                    
                    tourn_appearances_women AS (SELECT uw.full_name, wa.aus_ladies_app australian_appearances, 
                                       wa.french_ladies_app french_appearances, wa.us_ladies_app US_appearances,
                                       wa.wimb_ladies_app wimbledon_appearances
                                    FROM unique_women uw
                                    JOIN women_app wa
                                    ON RIGHT(wa.alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1)) = uw.women_players
                                        OR RIGHT(wa.flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1)) = uw.women_players
                                        OR RIGHT(wa.uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1)) = uw.women_players
                                        OR RIGHT(wa.wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1)) = uw.women_players),
                                        
                    women_solution AS (SELECT full_name AS player, SUM(australian_appearances) aus_appear,
                                   SUM(french_appearances) fr_appear, SUM(us_appearances) us_appear,
                                   SUM(wimbledon_appearances) wimb_appear
                                    FROM tourn_appearances_women
                                    GROUP BY 1),
                                    
                    men_solution AS (SELECT full_name AS player, SUM(australian_appearances) aus_appear,
                                    SUM(french_appearances) fr_appear, SUM(us_appearances) us_appear,
                                    SUM(wimbledon_appearances) wimb_appear
                                    FROM tourn_appearances_men
                                    GROUP BY 1)
                    
        
                    SELECT player, (aus_appear + fr_appear + us_appear) AS total_appearances
                    FROM men_solution
                    ORDER BY 2 DESC
                    LIMIT 1;  
                  ''', cnx)

               player  total_appearances
0  Stanislas Wawrinka               17.0

Flavia Pennetta had the most appearances for women at Australian, French, and US tournaments. Stanislas Wawrinka has the most appearances for men at Australian, French, and US tournaments.

**Question 3:** Who has the highest first serve percentage? (Just the maximum value in a single match.)

In [146]:
cnx.table_names()

['aus_ladies_2013',
 'aus_men_2013',
 'us_men_2013',
 'us_ladies_2013',
 'french_men_2013',
 'french_ladies_2013',
 'wimbledon_men_2013',
 'wimbledon_ladies_2013']

In [482]:
pd.read_sql_query(''' 
                    WITH t1 AS (SELECT player1, fsp_1
                    FROM aus_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t2 AS (SELECT player2, fsp_2
                    FROM aus_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t3 AS (SELECT player1, fsp_1
                    FROM aus_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t4 AS (SELECT player2, fsp_2
                    FROM aus_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t5 AS (SELECT player1, fsp_1
                    FROM french_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t6 AS (SELECT player2, fsp_2
                    FROM french_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t7 AS (SELECT player1, fsp_1
                    FROM french_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t8 AS (SELECT player2, fsp_2
                    FROM french_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t9 AS (SELECT player1, fsp_1
                    FROM us_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t10 AS (SELECT player2, fsp_2
                    FROM us_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t11 AS (SELECT player1, fsp_1
                    FROM us_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t12 AS (SELECT player2, fsp_2
                    FROM us_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t13 AS (SELECT player1, fsp_1
                    FROM wimbledon_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t14 AS (SELECT player2, fsp_2
                    FROM wimbledon_ladies_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t15 AS (SELECT player1, fsp_1
                    FROM wimbledon_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    t16 AS (SELECT player2, fsp_2
                    FROM wimbledon_men_2013
                    ORDER BY 2 DESC
                    LIMIT 1),
                    
                    top_servers AS (SELECT *
                  FROM t1
                  UNION
                  SELECT *
                  FROM t2
                  UNION
                  SELECT *
                  FROM t3
                  UNION
                  SELECT *
                  FROM t4
                  UNION
                  SELECT *
                  FROM t5
                  UNION
                  SELECT *
                  FROM t6
                  UNION
                  SELECT *
                  FROM t7
                  UNION
                  SELECT *
                  FROM t8
                  UNION
                  SELECT *
                  FROM t9
                  UNION
                  SELECT *
                  FROM t10
                  UNION
                  SELECT *
                  FROM t11
                  UNION
                  SELECT *
                  FROM t12
                  UNION
                  SELECT *
                  FROM t13
                  UNION
                  SELECT *
                  FROM t14
                  UNION
                  SELECT *
                  FROM t15
                  UNION
                  SELECT *
                  FROM t16)
                  
                  SELECT *
                  FROM top_servers
                  ORDER BY fsp_1 DESC
                  LIMIT 1;
                  ''', cnx)

    player1  fsp_1
0  S Errani   93.0

S Errani had a 93% serve rate.

**Question 4:** What are the unforced error percentages of the top three players with the most wins? (Unforced error percentage is % of points lost due to unforced errors. In a match, you have fields for number of points won by each player, and number of unforced errors for each field.)

Hint: SUM(double_faults) sums the contents of an entire column. For each row, to add the field values from two columns, the syntax SELECT name, double_faults + unforced_errors can be used.

Special bonus hint: To be careful about handling possible ties, consider using rank functions.

dbf_1, dbf_2

0 means player 2 wins, 1 means player 1 wins

tpw_1 - total points won by player 1
tpw_2 - total points won by player 2

In [369]:
pd.read_sql_query('''

                WITH t1 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM aus_ladies_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t2 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM aus_ladies_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    aus_ladies_wins AS (SELECT COALESCE(t1.player, t2.player), COALESCE(t1.wins_as_p2, 0) + COALESCE(t2.wins_as_p1, 0) tot_wins
                    FROM t1
                    FULL OUTER JOIN t2
                    ON t1.player = t2.player
                    ORDER BY 2 DESC),
                    
                    t3 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM aus_men_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t4 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM aus_men_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    aus_men_wins AS (SELECT COALESCE(t3.player, t4.player),
                        COALESCE(t3.wins_as_p2, 0) + COALESCE(t4.wins_as_p1, 0) tot_wins
                    FROM t3
                    FULL OUTER JOIN t4
                    ON t3.player = t4.player
                    ORDER BY 2 DESC),
                    
                    t5 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM french_ladies_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t6 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM french_ladies_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    french_ladies_wins AS (SELECT COALESCE(t5.player, t6.player),
                        COALESCE(t5.wins_as_p2, 0) + COALESCE(t6.wins_as_p1, 0) tot_wins
                    FROM t5
                    FULL OUTER JOIN t6
                    ON t5.player = t6.player
                    ORDER BY 2 DESC),
                    
                    t7 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM french_men_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t8 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM french_men_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    french_men_wins AS (SELECT COALESCE(t7.player, t8.player),
                        COALESCE(t7.wins_as_p2, 0) + COALESCE(t8.wins_as_p1, 0) tot_wins
                    FROM t7
                    FULL OUTER JOIN t8
                    ON t7.player = t8.player
                    ORDER BY 2 DESC),
                    
                    t9 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM us_ladies_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t10 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM us_ladies_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    us_ladies_wins AS (SELECT COALESCE(t9.player, t10.player),
                    COALESCE(t9.wins_as_p2, 0) + COALESCE(t10.wins_as_p1, 0) tot_wins
                    FROM t9
                    FULL OUTER JOIN t10
                    ON t9.player = t10.player
                    ORDER BY 2 DESC),
                    
                    t11 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM us_men_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t12 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM us_men_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    us_men_wins AS (SELECT COALESCE(t11.player, t12.player), 
                        COALESCE(t11.wins_as_p2, 0) + COALESCE(t12.wins_as_p1, 0) tot_wins
                    FROM t11
                    FULL OUTER JOIN t12
                    ON t11.player = t12.player
                    ORDER BY 2 DESC),
                    
                    t13 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM wimbledon_ladies_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t14 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM wimbledon_ladies_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    wimb_ladies_wins AS (SELECT COALESCE(t13.player, t14.player),
                        COALESCE(t13.wins_as_p2, 0) + COALESCE(t14.wins_as_p1, 0) tot_wins
                    FROM t13
                    FULL OUTER JOIN t14
                    ON t13.player = t14.player
                    ORDER BY 2 DESC),
                    
                    t15 AS(
                    SELECT player2 player, COUNT(player2) wins_as_p2
                    FROM wimbledon_men_2013 
                    WHERE result = 0 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    t16 AS (SELECT player1 player, COUNT(player1) wins_as_p1
                    FROM wimbledon_men_2013 
                    WHERE result = 1 AND fnl1 != fnl2 
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    wimb_men_wins AS (SELECT COALESCE(t15.player, t16.player), COALESCE(t15.wins_as_p2, 0) + COALESCE(t16.wins_as_p1, 0) tot_wins
                    FROM t15
                    FULL OUTER JOIN t16
                    ON t15.player = t16.player
                    ORDER BY 2 DESC),
                                        
                    lady_wins AS (SELECT DISTINCT al.coalesce,
                        RIGHT(al.coalesce, CHAR_LENGTH(al.coalesce) - POSITION(' ' IN al.coalesce)), al.tot_wins
                    FROM aus_ladies_wins al
                    UNION
                    SELECT DISTINCT fl.coalesce,
                        RIGHT(fl.coalesce, CHAR_LENGTH(fl.coalesce) - POSITION(' ' IN fl.coalesce)), fl.tot_wins
                    FROM french_ladies_wins fl
                    UNION
                    SELECT DISTINCT ul.coalesce,
                        RIGHT(ul.coalesce, CHAR_LENGTH(ul.coalesce) - POSITION(' ' IN ul.coalesce)), ul.tot_wins
                    FROM us_ladies_wins ul
                    UNION
                    SELECT DISTINCT wl.coalesce,
                        RIGHT(wl.coalesce, CHAR_LENGTH(wl.coalesce) - POSITION('.' IN wl.coalesce)), wl.tot_wins
                    FROM wimb_ladies_wins wl),
                    
                    men_wins AS (SELECT am.coalesce,
                    RIGHT(am.coalesce, CHAR_LENGTH(am.coalesce) - POSITION(' ' IN am.coalesce)), am.tot_wins
                    FROM aus_men_wins am
                    UNION
                    SELECT fm.coalesce, 
                        RIGHT(fm.coalesce, CHAR_LENGTH(fm.coalesce) - POSITION(' ' IN fm.coalesce)), fm.tot_wins
                    FROM french_men_wins fm
                    UNION
                    SELECT um.coalesce,
                        RIGHT(um.coalesce, CHAR_LENGTH(um.coalesce) - POSITION(' ' IN um.coalesce)), um.tot_wins
                    FROM us_men_wins um
                    UNION
                    SELECT wm.coalesce,
                        RIGHT(wm.coalesce, CHAR_LENGTH(wm.coalesce) - POSITION('.' IN wm.coalesce)), wm.tot_wins
                    FROM wimb_men_wins wm),
                    
                    top_women AS (SELECT lady_wins.coalesce AS player, SUM(lady_wins.tot_wins) AS tot_wins
                    FROM lady_wins
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    top_men AS (SELECT men_wins.coalesce AS player, SUM(men_wins.tot_wins) AS tot_wins
                    FROM men_wins
                    GROUP BY 1
                    ORDER BY 2 DESC),
                    
                    top_all AS (SELECT *
                    FROM top_men
                    UNION
                    SELECT *
                    FROM top_women),
                    
                    top_3 AS (SELECT ta.player, ta.tot_wins
                    FROM top_all ta
                    ORDER BY 2 DESC
                    LIMIT 3),
                    
                    stats AS (SELECT player1, player2, ufe_1, ufe_2, tpw_1, tpw_2
                        FROM aus_men_2013
                        UNION
                        SELECT player1, player2, ufe_1, ufe_2, tpw_1, tpw_2
                        FROM french_men_2013),
                        
                    /*SELECT *
                    FROM stats s
                    JOIN top_3 
                    ON 
                    RIGHT(s.player1, CHAR_LENGTH(s.player1) - POSITION(' ' IN s.player1)) = top_3.player
                    OR RIGHT(s.player2, CHAR_LENGTH(s.player2) - POSITION(' ' IN s.player2)) = top_3.player; */
                    
                    unforced_err_as_p1 AS (
                        SELECT s.player1, (CAST(s.ufe_1 AS DECIMAL) / CAST(s.tpw_1 AS DECIMAL)) ufep
                        FROM top_3
                        JOIN stats s
                        ON s.player1 = top_3.player),
                        
                    unforced_err_as_p2 AS (
                        SELECT top_3.player, (CAST(s.ufe_2 AS DECIMAL) / CAST(s.tpw_2 AS DECIMAL)) ufep
                        FROM top_3
                        JOIN stats s
                        ON s.player2 = top_3.player
                        ),
                        
                    unforced_err_all AS (SELECT *
                    FROM unforced_err_as_p1
                    UNION
                    SELECT *
                    FROM unforced_err_as_p2)
                        
                    SELECT player1, AVG(ufep)*100 AS unforced_err_percentage
                    FROM unforced_err_all
                    GROUP BY 1;
                  ''', cnx)

              player1  unforced_err_percentage
0  Stanislas Wawrinka                34.221738
1        Rafael Nadal                24.305803
2       Roger Federer                31.177935

The top three players by wins are all men. 

Their unforced error percentages are:

|Player|Unforced error percentage|
|-------|:------------------------:|
|Stanislas Wawrinka| 34.22 |
|Rafael Nadal | 23.31 |
|Roger Federer | 31.18 |

In [ ]:
WITH t1 AS (SELECT CONCAT(LEFT(am.player1, 1), RIGHT(al.player1, CHAR_LENGTH(al.player1) - POSITION(' ' IN al.player1))), COUNT(al.player1) ALc1
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t2 AS (SELECT CONCAT(LEFT(fl.player1, 1), RIGHT(fl.player1, CHAR_LENGTH(fl.player1) - POSITION(' ' IN fl.player1))) FLp1, COUNT(fl.player1) FLc1
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t3 AS (SELECT CONCAT(LEFT(usl.player1, 1), RIGHT(usl.player1, CHAR_LENGTH(usl.player1) - POSITION(' ' IN usl.player1))) USLp1, COUNT(usl.player1) USLc1
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t4 AS (SELECT CONCAT(LEFT(wl.player1, 1), RIGHT(wl.player1, CHAR_LENGTH(wl.player1) - POSITION('.' IN wl.player1))) WLp1, COUNT(wl.player1) WLc1
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1),
                         /* Women player 2 */       
                         t5 AS (SELECT CONCAT(LEFT(al.player2, 1), RIGHT(al.player2, CHAR_LENGTH(al.player2) - POSITION(' ' IN al.player2))) ALp2, COUNT(al.player2) ALc2
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t6 AS (SELECT CONCAT(LEFT(fl.player2, 1), RIGHT(fl.player2, CHAR_LENGTH(fl.player2) - POSITION(' ' IN fl.player2))) FLp2, COUNT(fl.player2) FLc2
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t7 AS (SELECT CONCAT(LEFT(usl.player2, 1), RIGHT(usl.player2, CHAR_LENGTH(usl.player2) - POSITION(' ' IN usl.player2))) USLp2, COUNT(usl.player2) USLc2
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t8 AS (SELECT CONCAT(LEFT(wl.player2, 1), RIGHT(wl.player2, CHAR_LENGTH(wl.player2) - POSITION('.' IN wl.player2))) WLp2, COUNT(wl.player2) WLc2
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1), 
                         /* Men player 1 */       
                         t9 AS (SELECT CONCAT(LEFT(am.player1, 1), RIGHT(am.player1, CHAR_LENGTH(am.player1) - POSITION(' ' IN am.player1))) amp1, COUNT(am.player1) amc1
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t10 AS (SELECT CONCAT(LEFT(fm.player1, 1), RIGHT(fm.player1, CHAR_LENGTH(fm.player1) - POSITION(' ' IN fm.player1))) fmp1, COUNT(fm.player1) fmc1
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t11 AS (SELECT CONCAT(LEFT(usm.player1, 1), RIGHT(usm.player1, CHAR_LENGTH(usm.player1) - POSITION(' ' IN usm.player1))) usmp1, COUNT(usm.player1) usmc1
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t12 AS (SELECT CONCAT(LEFT(wm.player1, 1), RIGHT(wm.player1, CHAR_LENGTH(wm.player1) - POSITION('.' IN wm.player1))) wmp1, COUNT(wm.player1) wmc1
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                        /* Men player 2 */
                         t13 AS (SELECT CONCAT(LEFT(am.player2, 1), RIGHT(am.player2, CHAR_LENGTH(am.player2) - POSITION(' ' IN am.player2))) amp2, COUNT(am.player2) amc2
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t14 AS (SELECT CONCAT(LEFT(fm.player2, 1), RIGHT(fm.player2, CHAR_LENGTH(fm.player2) - POSITION(' ' IN fm.player2))) fmp2, COUNT(fm.player2) fmc2
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t15 AS (SELECT CONCAT(LEFT(usm.player2, 1), RIGHT(usm.player2, CHAR_LENGTH(usm.player2) - POSITION(' ' IN usm.player2))) usmp2, COUNT(usm.player2) usmc2
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t16 AS (SELECT CONCAT(LEFT(wm.player2, 1), RIGHT(wm.player2, CHAR_LENGTH(wm.player2) - POSITION(' ' IN wm.player2))) wmp2, COUNT(wm.player2) wmc2
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1)

In [509]:
pd.read_sql_query('''
                         /* Women player 1 */
                    WITH t1 AS (SELECT CONCAT(LEFT(am.player1, 1), RIGHT(al.player1, CHAR_LENGTH(al.player1) - POSITION(' ' IN al.player1))), COUNT(al.player1) ALc1
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t2 AS (SELECT CONCAT(LEFT(fl.player1, 1), RIGHT(fl.player1, CHAR_LENGTH(fl.player1) - POSITION(' ' IN fl.player1))) FLp1, COUNT(fl.player1) FLc1
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t3 AS (SELECT CONCAT(LEFT(usl.player1, 1), RIGHT(usl.player1, CHAR_LENGTH(usl.player1) - POSITION(' ' IN usl.player1))) USLp1, COUNT(usl.player1) USLc1
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t4 AS (SELECT CONCAT(LEFT(wl.player1, 1), RIGHT(wl.player1, CHAR_LENGTH(wl.player1) - POSITION('.' IN wl.player1))) WLp1, COUNT(wl.player1) WLc1
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1),
                         /* Women player 2 */       
                         t5 AS (SELECT CONCAT(LEFT(al.player2, 1), RIGHT(al.player2, CHAR_LENGTH(al.player2) - POSITION(' ' IN al.player2))) ALp2, COUNT(al.player2) ALc2
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t6 AS (SELECT CONCAT(LEFT(fl.player2, 1), RIGHT(fl.player2, CHAR_LENGTH(fl.player2) - POSITION(' ' IN fl.player2))) FLp2, COUNT(fl.player2) FLc2
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t7 AS (SELECT CONCAT(LEFT(usl.player2, 1), RIGHT(usl.player2, CHAR_LENGTH(usl.player2) - POSITION(' ' IN usl.player2))) USLp2, COUNT(usl.player2) USLc2
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t8 AS (SELECT CONCAT(LEFT(wl.player2, 1), RIGHT(wl.player2, CHAR_LENGTH(wl.player2) - POSITION('.' IN wl.player2))) WLp2, COUNT(wl.player2) WLc2
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1), 
                         /* Men player 1 */       
                         t9 AS (SELECT CONCAT(LEFT(am.player1, 1), RIGHT(am.player1, CHAR_LENGTH(am.player1) - POSITION(' ' IN am.player1))) amp1, COUNT(am.player1) amc1
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t10 AS (SELECT CONCAT(LEFT(fm.player1, 1), RIGHT(fm.player1, CHAR_LENGTH(fm.player1) - POSITION(' ' IN fm.player1))) fmp1, COUNT(fm.player1) fmc1
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t11 AS (SELECT CONCAT(LEFT(usm.player1, 1), RIGHT(usm.player1, CHAR_LENGTH(usm.player1) - POSITION(' ' IN usm.player1))) usmp1, COUNT(usm.player1) usmc1
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t12 AS (SELECT CONCAT(LEFT(wm.player1, 1), RIGHT(wm.player1, CHAR_LENGTH(wm.player1) - POSITION('.' IN wm.player1))) wmp1, COUNT(wm.player1) wmc1
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                        /* Men player 2 */
                         t13 AS (SELECT CONCAT(LEFT(am.player2, 1), RIGHT(am.player2, CHAR_LENGTH(am.player2) - POSITION(' ' IN am.player2))) amp2, COUNT(am.player2) amc2
                                FROM aus_men_2013 am
                                GROUP BY 1),
                         t14 AS (SELECT CONCAT(LEFT(fm.player2, 1), RIGHT(fm.player2, CHAR_LENGTH(fm.player2) - POSITION(' ' IN fm.player2))) fmp2, COUNT(fm.player2) fmc2
                                FROM french_men_2013 fm
                                GROUP BY 1),
                         t15 AS (SELECT CONCAT(LEFT(usm.player2, 1), RIGHT(usm.player2, CHAR_LENGTH(usm.player2) - POSITION(' ' IN usm.player2))) usmp2, COUNT(usm.player2) usmc2
                                 FROM us_men_2013 usm
                                 GROUP BY 1),
                         t16 AS (SELECT CONCAT(LEFT(wm.player2, 1), RIGHT(wm.player2, CHAR_LENGTH(wm.player2) - POSITION(' ' IN wm.player2))) wmp2, COUNT(wm.player2) wmc2
                                FROM wimbledon_men_2013 wm
                                GROUP BY 1),
                                
                         women_p1 AS (SELECT *
                                FROM t1
                                FULL OUTER JOIN t2
                                ON t1.ALp1 = t2.FLp1
                                FULL OUTER JOIN t3
                                ON LEFT(t1.ALp1, 1) = LEFT(t3.USLp1, 1) AND
                                RIGHT(t1.ALp1, CHAR_LENGTH(t1.ALp1) - POSITION(' ' IN t1.ALp1)) = 
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1)) AND
                                LEFT(t2.FLp1, 1) = LEFT(t3.USLp1, 1) AND
                                RIGHT(t2.FLp1, CHAR_LENGTH(t2.FLp1) - POSITION(' ' IN t2.FLp1)) = 
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1))
                                FULL OUTER JOIN t4
                                ON LEFT(t1.ALp1, 1) = LEFT(t4.WLp1, 1) AND LEFT(t2.FLp1, 1) = LEFT(t4.WLp1, 1) AND
                                LEFT(t3.USLp1, 1) = LEFT(t4.WLp1, 1) AND 
                                RIGHT(t1.ALp1, CHAR_LENGTH(t1.ALp1) - POSITION(' ' IN t1.ALp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1)) AND
                                RIGHT(t2.FLp1, CHAR_LENGTH(t2.FLp1) - POSITION(' ' IN t2.FLp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1)) AND
                                RIGHT(t3.USLp1, CHAR_LENGTH(t3.USLp1) - POSITION(' ' in t3.USLp1)) = 
                                RIGHT(t4.WLp1, CHAR_LENGTH(t4.WLp1) - POSITION('.' in t4.WLp1))
                                ),
                                
                         women_p2 AS (SELECT *
                                 FROM t5
                                 FULL OUTER JOIN t6
                                 ON t5.ALp2 = t6.FLp2
                                 FULL OUTER JOIN t7
                                 ON LEFT(t5.ALp2, 1) = LEFT(t7.USLp2, 1) AND
                                 RIGHT(t5.ALp2, CHAR_LENGTH(t5.ALp2) - POSITION(' ' IN t5.ALp2)) = 
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2)) AND
                                 LEFT(t6.FLp2, 1) = LEFT(t7.USLp2, 1) AND
                                 RIGHT(t6.FLp2, CHAR_LENGTH(t6.FLp2) - POSITION(' ' IN t6.FLp2)) = 
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2))
                                 FULL OUTER JOIN t8
                                 ON LEFT(t5.ALp2, 1) = LEFT(t8.WLp2, 1) AND LEFT(t6.FLp2, 1) = LEFT(t8.WLp2, 1) AND
                                 LEFT(t7.USLp2, 1) = LEFT(t8.WLp2, 1) AND 
                                 RIGHT(t5.ALp2, CHAR_LENGTH(t5.ALp2) - POSITION(' ' IN t5.ALp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2)) AND
                                 RIGHT(t6.FLp2, CHAR_LENGTH(t6.FLp2) - POSITION(' ' IN t6.FLp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2)) AND
                                 RIGHT(t7.USLp2, CHAR_LENGTH(t7.USLp2) - POSITION(' ' in t7.USLp2)) = 
                                 RIGHT(t8.WLp2, CHAR_LENGTH(t8.WLp2) - POSITION('.' in t8.WLp2))
                                 ),
                                 
                         men_p1 AS (SELECT *
                              FROM t9
                              FULL OUTER JOIN t10
                              ON t9.amp1 = t10.fmp1
                              FULL OUTER JOIN t11
                              ON LEFT(t9.amp1, 1) = LEFT(t11.usmp1, 1) AND
                                RIGHT(t9.amp1, CHAR_LENGTH(t9.amp1) - POSITION(' ' IN t9.amp1)) = 
                                RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1)) AND
                                LEFT(t10.fmp1, 1) = LEFT(t11.usmp1, 1) AND
                                RIGHT(t10.fmp1, CHAR_LENGTH(t10.fmp1) - POSITION(' ' IN t10.fmp1)) = 
                                RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1))
                              FULL OUTER JOIN t12
                              ON LEFT(t9.amp1, 1) = LEFT(t12.wmp1, 1) AND LEFT(t10.fmp1, 1) = LEFT(t12.wmp1, 1) AND
                                 LEFT(t11.usmp1, 1) = LEFT(t12.wmp1, 1) AND 
                                 RIGHT(t9.amp1, CHAR_LENGTH(t9.amp1) - POSITION(' ' IN t9.amp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1)) AND
                                 RIGHT(t10.fmp1, CHAR_LENGTH(t10.fmp1) - POSITION(' ' IN t10.fmp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1)) AND
                                 RIGHT(t11.usmp1, CHAR_LENGTH(t11.usmp1) - POSITION(' ' in t11.usmp1)) = 
                                 RIGHT(t12.wmp1, CHAR_LENGTH(t12.wmp1) - POSITION('.' in t12.wmp1))
                              ),
                              
                         men_p2 AS (SELECT *
                              FROM t13
                              FULL OUTER JOIN t14
                              ON t13.amp2 = t14.fmp2
                              FULL OUTER JOIN t15
                              ON LEFT(t13.amp2, 1) = LEFT(t15.usmp2, 1) AND
                                 RIGHT(t13.amp2, CHAR_LENGTH(t13.amp2) - POSITION(' ' IN t13.amp2)) = 
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2)) AND
                                 LEFT(t14.fmp2, 1) = LEFT(t14.fmp2, 1) AND
                                 RIGHT(t14.fmp2, CHAR_LENGTH(t14.fmp2) - POSITION(' ' IN t14.fmp2)) = 
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2))
                              FULL OUTER JOIN t16
                              ON LEFT(t13.amp2, 1) = LEFT(t16.wmp2, 1) AND LEFT(t14.fmp2, 1) = LEFT(t16.wmp2, 1) AND
                                 LEFT(t15.usmp2, 1) = LEFT(t16.wmp2, 1) AND 
                                 RIGHT(t13.amp2, CHAR_LENGTH(t13.amp2) - POSITION(' ' IN t13.amp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2)) AND
                                 RIGHT(t14.fmp2, CHAR_LENGTH(t14.fmp2) - POSITION(' ' IN t14.fmp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2)) AND
                                 RIGHT(t15.usmp2, CHAR_LENGTH(t15.usmp2) - POSITION(' ' in t15.usmp2)) = 
                                 RIGHT(t16.wmp2, CHAR_LENGTH(t16.wmp2) - POSITION('.' in t16.wmp2))
                              ),
                         
                         men_app AS (SELECT mp1.amp1, COALESCE((mp1.amc1 + mp2.amc2), 0) aus_men_app,
                                     mp1.fmp1, COALESCE((mp1.fmc1 + mp2.fmc2), 0) french_men_app,
                                     mp1.usmp1, COALESCE((mp1.usmc1 + mp2.usmc2), 0) us_men_app,
                                     mp1.wmp1, COALESCE((mp1.wmc1 + mp2.wmc2), 0) wimb_men_app
                                     FROM men_p1 mp1
                                     JOIN men_p2 mp2
                                     ON mp1.amp1 = mp2.amp2 OR mp1.fmp1 = mp2.fmp2
                                        OR mp1.usmp1 = mp2.usmp2 OR mp1.wmp1 = mp2.wmp2),
                                        
                         unique_men AS (SELECT RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1))
                                      AS men_players
                                      FROM men_app
                                      WHERE amp1 IS NOT NULL
                                      UNION 
                                      SELECT RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1))
                                      FROM men_app
                                      WHERE fmp1 IS NOT NULL
                                      UNION
                                      SELECT RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1))
                                      FROM men_app
                                      WHERE usmp1 IS NOT NULL
                                      UNION
                                      SELECT RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1))
                                      FROM men_app
                                      WHERE wmp1 IS NOT NULL),
                                 
                         women_app AS (SELECT wp1.alp1, COALESCE((wp1.alc1 + wp2.alc2), 0) aus_ladies_app, 
                                    wp1.flp1, COALESCE((wp1.flc1 + wp2.flc2), 0) french_ladies_app,
                                    wp1.uslp1, COALESCE((wp1.uslc1 + wp2.uslc2), 0) us_ladies_app,
                                    wp1.wlp1, COALESCE((wp1.wlc1 + wp2.wlc2), 0) wimb_ladies_app
                                    FROM women_p1 wp1
                                    JOIN women_p2 wp2
                                    ON wp1.alp1 = wp2.alp2 OR wp1.flp1 = wp2.flp2
                                       OR wp1.uslp1 = wp2.uslp2 OR wp1.wlp1 = wp2.wlp2),
                                       
                         unique_women AS (SELECT RIGHT(alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1))
                                    AS women_players
                                    FROM women_app
                                    WHERE alp1 IS NOT NULL
                                    UNION
                                    SELECT RIGHT(flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1))
                                    FROM women_app
                                    WHERE flp1 IS NOT NULL
                                    UNION 
                                    SELECT RIGHT(uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1))
                                    FROM women_app
                                    WHERE uslp1 IS NOT NULL
                                    UNION
                                    SELECT RIGHT(wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1))
                                    FROM women_app
                                    WHERE wlp1 IS NOT NULL),
                                    
                    tourn_appearances_men AS (SELECT um.men_players, ma.aus_men_app australian_appearances,
                                        ma.french_men_app french_appearances, ma.us_men_app US_appearances,
                                        ma.wimb_men_app wimbledon_appearances
                                    FROM unique_men um
                                    JOIN men_app ma
                                    ON RIGHT(amp1, CHAR_LENGTH(amp1) - POSITION (' ' IN amp1)) = um.men_players
                                        OR RIGHT(fmp1, CHAR_LENGTH(fmp1) - POSITION (' ' IN fmp1)) = um.men_players
                                        OR RIGHT(usmp1, CHAR_LENGTH(usmp1) - POSITION(' ' IN usmp1)) = um.men_players
                                        OR RIGHT(wmp1, CHAR_LENGTH(wmp1) - POSITION('.' IN wmp1)) = um.men_players),
                                    
                    tourn_appearances_women AS (SELECT uw.women_players, wa.aus_ladies_app australian_appearances, 
                                       wa.french_ladies_app french_appearances, wa.us_ladies_app US_appearances,
                                       wa.wimb_ladies_app wimbledon_appearances
                                    FROM unique_women uw
                                    JOIN women_app wa
                                    ON RIGHT(wa.alp1, CHAR_LENGTH(alp1) - POSITION(' ' IN alp1)) = uw.women_players
                                        OR RIGHT(wa.flp1, CHAR_LENGTH(flp1) - POSITION(' ' IN flp1)) = uw.women_players
                                        OR RIGHT(wa.uslp1, CHAR_LENGTH(uslp1) - POSITION(' ' IN uslp1)) = uw.women_players
                                        OR RIGHT(wa.wlp1, CHAR_LENGTH(wlp1) - POSITION('.' IN wlp1)) = uw.women_players),
                                    
                    
                    all_appearances_men AS (SELECT *
                        FROM men_p1
                        UNION
                        SELECT *
                        FROM men_p2),
                        
                    all_appearances_women AS (SELECT *
                        FROM women_p1
                        UNION
                        SELECT *
                        FROM women_p2),
                        
                    men_solution AS (SELECT COALESCE(amp1, COALESCE(fmp1, COALESCE(usmp1, COALESCE(wmp1, 'None')))) player,
                    SUM(COALESCE(amc1, 0) + COALESCE(fmc1, 0) + COALESCE(usmc1, 0) + COALESCE(wmc1, 0)) appearances
                    FROM all_appearances_men
                    GROUP BY 1
                    ORDER BY appearances DESC),
                    
                    women_solution AS (SELECT 
                    COALESCE(alc1, 0) aus_app, COALESCE(flc1, 0) fr_app, COALESCE(uslc1, 0) us_app, COALESCE(wlc1, 0) wimb_app,
                    COALESCE(alc1, 0) + COALESCE(flc1, 0)+ COALESCE(uslc1, 0) + COALESCE(wlc1, 0) tot_app
                    FROM all_appearances_women)
                        
                    SELECT *
                    FROM women_p2;
                    
                  ''', cnx)

,alp2,alc2,flp2,flc2,uslp2,uslc2,wlp2,wlc2
0,None,NaN,None,NaN,K Mladenovic,1.0,None,NaN
1,None,NaN,None,NaN,C Garcia,1.0,None,NaN
2,None,NaN,None,NaN,F Pennetta,3.0,None,NaN
3,None,NaN,None,NaN,S.Soler-Espinosa,1.0,None,NaN
4,Shuai Peng,1.0,Shuai Peng,1.0,S Peng,1.0,S.Peng,2.0
5,None,NaN,None,NaN,L Arruabarrena,1.0,None,NaN
6,None,NaN,None,NaN,A Tomljanovic,1.0,None,NaN
7,None,NaN,None,NaN,C Suarez Navarro,3.0,None,NaN
8,Yaroslava Shvedova,1.0,Yaroslava Shvedova,2.0,Y Shvedova,1.0,Y.Shvedova,1.0
9,None,NaN,None,NaN,C Scheepers,1.0,None,NaN
10,None,NaN,None,NaN,M Barthel,1.0,None,NaN
11,None,NaN,None,NaN,M Burdette,1.0,None,NaN
12,Venus Williams,1.0,Venus Williams,1.0,V Williams,1.0,None,NaN
13,None,NaN,None,NaN,S Stosur,1.0,None,NaN
14,None,NaN,None,NaN,L Dominguez Lino,1.0,None,NaN
15,Sara Errani,1.0,Sara Errani,6.0,S Errani,2.0,None,NaN
16,None,NaN,None,NaN,A Medina Garrigues,1.0,None,NaN
17,None,NaN,None,NaN,E Bouchard,1.0,None,NaN
18,None,NaN,None,NaN,S Lisicki,3.0,None,NaN
19,Jie Zheng,1.0,Jie Zheng,1.0,J Zheng,1.0,J.Zheng,1.0
20,None,NaN,None,NaN,F Schiavone,1.0,None,NaN
21,None,NaN,None,NaN,A Dulgheru,2.0,None,NaN
22,None,NaN,None,NaN,A Kerber,4.0,None,NaN
23,None,NaN,None,NaN,G Voskoboeva,1.0,None,NaN
24,Daniela Hantuchova,3.0,Daniela Hantuchova,1.0,D Hantuchova,2.0,D.Hantuchova,1.0
25,None,NaN,None,NaN,A Pavlyuchenkova,2.0,None,NaN
26,Anna Tatishvili,1.0,Anna Tatishvili,1.0,A Tatishvili,1.0,None,NaN
27,None,NaN,None,NaN,C McHale,2.0,None,NaN
28,Madison Keys,2.0,Madison Keys,1.0,M Keys,1.0,M.Keys,2.0
29,None,NaN,None,NaN,K Nara,1.0,None,NaN
30,None,NaN,None,NaN,S Cirstea,1.0,None,NaN
31,None,NaN,None,NaN,V Duval,1.0,None,NaN
32,Victoria Azarenka,5.0,Victoria Azarenka,5.0,V Azarenka,7.0,V.Azarenka,1.0
33,Elina Svitolina,2.0,Elina Svitolina,2.0,E Svitolina,1.0,E.Svitolina,1.0
34,None,NaN,None,NaN,M Koehler,1.0,None,NaN
35,None,NaN,None,NaN,Y Meusburger,1.0,None,NaN
36,Misaki Doi,1.0,Misaki Doi,1.0,M Doi,1.0,M.Doi,1.0
37,None,NaN,None,NaN,A Riske,1.0,None,NaN
38,None,NaN,None,NaN,S Stephens,4.0,None,NaN
39,None,NaN,None,NaN,A Petkovic,1.0,None,NaN
40,Camila Giorgi,1.0,Camila Giorgi,1.0,C Giorgi,1.0,C.Giorgi,1.0
41,None,NaN,None,NaN,K Date-Krumm,1.0,None,NaN
42,None,NaN,None,NaN,N Li,6.0,None,NaN
43,None,NaN,None,NaN,Y Duan,1.0,None,NaN
44,None,NaN,None,NaN,R Vinci,2.0,None,NaN
45,None,NaN,None,NaN,S Halep,2.0,None,NaN
46,Lucie Safarova,3.0,Lucie Safarova,1.0,None,NaN,None,NaN
47,Lauren Davis,2.0,Lauren Davis,1.0,None,NaN,None,NaN
48,Karolina Pliskova,1.0,None,NaN,None,NaN,None,NaN
49,None,NaN,Olga Puchkova,1.0,None,NaN,None,NaN
50,Sabine Lisicki,2.0,None,NaN,None,NaN,None,NaN
51,None,NaN,Melanie Oudin,1.0,None,NaN,None,NaN
52,None,NaN,Caroline Garcia,2.0,None,NaN,None,NaN
53,Irina-Camelia Begu,1.0,None,NaN,None,NaN,None,NaN
54,None,NaN,Julia Glushko,1.0,None,NaN,None,NaN
55,Yulia Putintseva,1.0,Yulia Putintseva,1.0,None,NaN,None,NaN
56,Hao Chen Tang,1.0,None,NaN,None,NaN,None,NaN
57,Ying-Ying Duan,1.0,None,NaN,None,NaN,None,NaN
58,None,NaN,Laura Robson,1.0,None,NaN,None,NaN
59,None,NaN,Samantha Stosur,3.0,None,NaN,None,NaN
60,None,NaN,Mallory Burdette,1.0,None,NaN,None,NaN
61,Belinda Bencic,1.0,None,NaN,None,NaN,None,NaN
62,Alla Kudryavtseva,2.0,None,NaN,None,NaN,None,NaN
63,Petra Kvitova,1.0,None,NaN,None,NaN,None,NaN
64,Lucie Hradecka,1.0,Lucie Hradecka,1.0,None,NaN,None,NaN
65,Kirsten Flipkens,2.0,Kirsten Flipkens,2.0,None,NaN,None,NaN
66,None,NaN,Zuzana Kucova,1.0,None,NaN,None,NaN
67,None,NaN,Maria Joao Koehler,1.0,None,NaN,None,NaN
68,None,NaN,Sloane Stephens,3.0,None,NaN,None,NaN
69,Marina Erakovic,1.0,Marina Erakovic,1.0,None,NaN,None,NaN
70,Dominika Cibulkova,5.0,None,NaN,None,NaN,None,NaN
71,Lara Arruabarrena,1.0,None,NaN,None,NaN,None,NaN
72,None,NaN,Sorana Cirstea,3.0,None,NaN,None,NaN
73,Ana Konjuh,1.0,None,NaN,None,NaN,None,NaN
74,None,NaN,Paula Ormaechea,2.0,None,NaN,None,NaN
75,Eugenie Bouchard,2.0,None,NaN,None,NaN,None,NaN
76,Kimiko Date-Krumm,1.0,None,NaN,None,NaN,None,NaN
77,Petra Martic,1.0,None,NaN,None,NaN,None,NaN
78,Luksika Kumkhum,1.0,None,NaN,None,NaN,None,NaN
79,Kurumi Nara,1.0,None,NaN,None,NaN,None,NaN
80,Mariana Duque-Marino,1.0,Mariana Duque-Marino,2.0,None,NaN,None,NaN
81,Katerina Siniakova,1.0,None,NaN,None,NaN,None,NaN
82,None,NaN,Maria Kirilenko,4.0,None,NaN,None,NaN
83,Alexandra Cadantu,1.0,Alexandra Cadantu,1.0,None,NaN,None,NaN
84,None,NaN,Urszula Radwanska,1.0,None,NaN,None,NaN
85,Stefanie Voegele,1.0,Stefanie Voegele,1.0,None,NaN,None,NaN
86,Magdalena Rybarikova,2.0,Magdalena Rybarikova,1.0,None,NaN,None,NaN
87,None,NaN,Shahar Peer,1.0,None,NaN,None,NaN
88,Irina Falconi,2.0,None,NaN,None,NaN,None,NaN
89,None,NaN,A. Medina Garrigues,1.0,None,NaN,None,NaN
90,Na Li,1.0,None,NaN,None,NaN,None,NaN
91,Mandy Minella,1.0,Mandy Minella,1.0,None,NaN,None,NaN
92,Monica Puig,1.0,Monica Puig,1.0,None,NaN,None,NaN
93,None,NaN,Maria-Teresa Torro-Flor,1.0,None,NaN,None,NaN
94,Caroline Wozniacki,3.0,None,NaN,None,NaN,None,NaN
95,Anastasia Pavlyuchenkova,3.0,None,NaN,None,NaN,None,NaN
96,Ana Ivanovic,4.0,Ana Ivanovic,4.0,None,NaN,None,NaN
97,Monica Niculescu,2.0,None,NaN,None,NaN,None,NaN
98,Yvonne Meusburger,2.0,None,NaN,None,NaN,None,NaN
99,None,NaN,Grace Min,1.0,None,NaN,None,NaN
100,None,NaN,Jelena Jankovic,1.0,None,NaN,None,NaN
101,Vesna Dolonc,1.0,Vesna Dolonc,1.0,None,NaN,None,NaN
102,Flavia Pennetta,2.0,None,NaN,None,NaN,None,NaN
103,None,NaN,Donna Vekic,1.0,None,NaN,None,NaN
104,Ayumi Morita,2.0,None,NaN,None,NaN,None,NaN
105,None,NaN,Francesca Schiavone,2.0,None,NaN,None,NaN
106,Agnieszka Radwanska,1.0,None,NaN,None,NaN,None,NaN
107,Silvia Soler-Espinosa,1.0,Silvia Soler-Espinosa,2.0,None,NaN,None,NaN
108,Varvara Lepchenko,1.0,None,NaN,None,NaN,None,NaN
109,None,NaN,Bojana Jovanovski,2.0,None,NaN,None,NaN
110,None,NaN,Sofia Arvidsson,1.0,None,NaN,None,NaN
111,None,NaN,Aravane Rezai,1.0,None,NaN,None,NaN
112,None,NaN,Kaia Kanepi,1.0,None,NaN,None,NaN
113,Jarmila Gajdosova,1.0,None,NaN,None,NaN,None,NaN
114,Julia Goerges,1.0,None,NaN,None,NaN,None,NaN
115,None,NaN,Andrea Hlavackova,1.0,None,NaN,None,NaN
116,Ashleigh Barty,1.0,None,NaN,None,NaN,None,NaN
117,None,NaN,Heather Watson,1.0,None,NaN,None,NaN
118,None,NaN,Elena Baltacha,1.0,None,NaN,None,NaN
119,None,NaN,Christina McHale,1.0,None,NaN,None,NaN
120,Mona Barthel,2.0,None,NaN,None,NaN,None,NaN
121,Klara Zakopalova,1.0,None,NaN,None,NaN,None,NaN
122,Jana Cepelova,1.0,None,NaN,None,NaN,None,NaN
123,Yung-Jan Chan,1.0,None,NaN,None,NaN,None,NaN
124,None,NaN,Angelique Kerber,4.0,None,NaN,None,NaN
125,None,NaN,Bethanie Mattek-Sands,1.0,None,NaN,None,NaN
126,Casey Dellacqua,1.0,None,NaN,None,NaN,None,NaN
127,None,NaN,Shelby Rogers,1.0,None,NaN,None,NaN
128,Maria Sharapova,4.0,Maria Sharapova,7.0,None,NaN,None,NaN
129,Tsvetana Pironkova,1.0,Tsvetana Pironkova,1.0,None,NaN,None,NaN
130,Virginie Razzano,2.0,Virginie Razzano,1.0,None,NaN,None,NaN
131,None,NaN,Mirjana Lucic-Baroni,1.0,None,NaN,None,NaN
132,Ajla Tomljanovic,2.0,None,NaN,None,NaN,None,NaN
133,Zarina Diyas,1.0,None,NaN,None,NaN,None,NaN
134,Anna Schmiedlova,2.0,None,NaN,None,NaN,None,NaN
135,None,NaN,Carla Suarez Navarro,3.0,None,NaN,None,NaN
136,Olga Govortsova,1.0,Olga Govortsova,1.0,None,NaN,None,NaN
137,None,NaN,Dinah Pfizenmaier,1.0,None,NaN,None,NaN
138,Yanina Wickmayer,1.0,Yanina Wickmayer,1.0,None,NaN,None,NaN
139,None,NaN,Roberta Vinci,4.0,None,NaN,None,NaN
140,Ekaterina Makarova,1.0,Ekaterina Makarova,1.0,None,NaN,None,NaN
141,Barbora Zahlavova Strycova,1.0,None,NaN,None,NaN,None,NaN
142,Polona Hercog,1.0,None,NaN,None,NaN,None,NaN
143,Vania King,1.0,None,NaN,None,NaN,None,NaN
144,Simona Halep,4.0,None,NaN,None,NaN,None,NaN
145,None,NaN,Mathilde Johansson,1.0,None,NaN,None,NaN
146,Karin Knapp,1.0,None,NaN,None,NaN,None,NaN
147,None,NaN,Jamie Hampton,2.0,None,NaN,None,NaN
148,None,NaN,Claire Feuerstein,1.0,None,NaN,None,NaN
149,None,NaN,Annika Beck,1.0,None,NaN,None,NaN
150,Galina Voskoboeva,1.0,None,NaN,None,NaN,None,NaN
151,Alison Riske,2.0,None,NaN,None,NaN,None,NaN
152,Elena Vesnina,1.0,None,NaN,None,NaN,None,NaN
153,Svetlana Kuznetsova,1.0,Svetlana Kuznetsova,3.0,None,NaN,None,NaN
154,None,NaN,Lourdes Dominguez Lino,1.0,None,NaN,None,NaN
155,Garbine Muguruza,2.0,Garbine Muguruza,2.0,None,NaN,None,NaN
156,None,NaN,Johanna Larsson,1.0,None,NaN,None,NaN
157,Storm Sanders,1.0,None,NaN,None,NaN,None,NaN
158,None,NaN,Petra Cetkovska,1.0,None,NaN,None,NaN
159,None,NaN,Lesia Tsurenko,1.0,None,NaN,None,NaN
160,Vera Zvonareva,1.0,None,NaN,None,NaN,None,NaN
161,None,NaN,None,NaN,None,NaN,B.Zahlavova Strycova,1.0
162,None,NaN,None,NaN,None,NaN,L.Davis,1.0
163,None,NaN,None,NaN,None,NaN,C.Witthoeft,1.0
164,None,NaN,None,NaN,None,NaN,M.Sharapova,2.0
165,None,NaN,None,NaN,None,NaN,U.Radwanska,1.0
166,None,NaN,None,NaN,None,NaN,L.Dominguez Lino,1.0
167,None,NaN,None,NaN,None,NaN,A.Rus,1.0
168,None,NaN,None,NaN,None,NaN,A.Hlavackova,1.0
169,None,NaN,None,NaN,None,NaN,V.Lepchenko,1.0
170,None,NaN,None,NaN,None,NaN,P.Martic,2.0
171,None,NaN,None,NaN,None,NaN,M.Barthel,2.0
172,None,NaN,None,NaN,None,NaN,A.Keothavong,1.0
173,None,NaN,None,NaN,None,NaN,V.King,1.0
174,None,NaN,None,NaN,None,NaN,S.Lisicki,1.0
175,None,NaN,None,NaN,None,NaN,J.Goerges,1.0
176,None,NaN,None,NaN,None,NaN,M.Bartoli,2.0
177,None,NaN,None,NaN,None,NaN,A.Riske,1.0
178,None,NaN,None,NaN,None,NaN,G.Voskoboeva,1.0
179,None,NaN,None,NaN,None,NaN,A.Radwanska,1.0
180,None,NaN,None,NaN,None,NaN,P.Cetkovska,1.0
181,None,NaN,None,NaN,None,NaN,T.Maria,1.0
182,None,NaN,None,NaN,None,NaN,C.Suarez Navarro,1.0
183,None,NaN,None,NaN,None,NaN,M.Erakovic,2.0
184,None,NaN,None,NaN,None,NaN,C.Wozniacki,2.0
185,None,NaN,None,NaN,None,NaN,F.Schiavone,1.0
186,None,NaN,None,NaN,None,NaN,C.Garcia,1.0
187,None,NaN,None,NaN,None,NaN,E.Makarova,3.0
188,None,NaN,None,NaN,None,NaN,J.Cepelova,2.0
189,None,NaN,None,NaN,None,NaN,I.Begu,1.0
190,None,NaN,None,NaN,None,NaN,M.Minella,1.0
191,None,NaN,None,NaN,None,NaN,T.Pironkova,2.0
192,None,NaN,None,NaN,None,NaN,L.Tsurenko,1.0
193,None,NaN,None,NaN,None,NaN,F.Pennetta,3.0
194,None,NaN,None,NaN,None,NaN,M.Puig,1.0
195,None,NaN,None,NaN,None,NaN,V.Dolonc,2.0
196,None,NaN,None,NaN,None,NaN,A.Beck,2.0
197,None,NaN,None,NaN,None,NaN,A.Petkovic,2.0
198,None,NaN,None,NaN,None,NaN,S.Stosur,3.0
199,None,NaN,None,NaN,None,NaN,A.Ivanovic,2.0
200,None,NaN,None,NaN,None,NaN,S.Soler-Espinosa,1.0
201,None,NaN,None,NaN,None,NaN,K.Kanepi,3.0
202,None,NaN,None,NaN,None,NaN,T.Paszek,1.0
203,None,NaN,None,NaN,None,NaN,A.Kerber,1.0
204,None,NaN,None,NaN,None,NaN,K.Knapp,3.0
205,None,NaN,None,NaN,None,NaN,J.Konta,1.0
206,None,NaN,None,NaN,None,NaN,D.Vekic,1.0
207,None,NaN,None,NaN,None,NaN,Y.Meusburger,1.0
208,None,NaN,None,NaN,None,NaN,C.McHale,1.0
209,None,NaN,None,NaN,None,NaN,E.Bouchard,1.0
210,None,NaN,None,NaN,None,NaN,J.Hampton,1.0
211,None,NaN,None,NaN,None,NaN,M.Larcher De Brito,1.0
212,None,NaN,None,NaN,None,NaN,S.Murray,1.0
213,None,NaN,None,NaN,None,NaN,S.Cirstea,2.0
214,None,NaN,None,NaN,None,NaN,S.Stephens,1.0
215,None,NaN,None,NaN,None,NaN,C.Scheepers,1.0
216,None,NaN,None,NaN,None,NaN,N.Petrova,1.0
217,None,NaN,None,NaN,None,NaN,M.Johansson,2.0
218,None,NaN,None,NaN,None,NaN,B.Jovanovski,1.0
219,None,NaN,None,NaN,None,NaN,M.Lucic-Baroni,2.0
220,None,NaN,None,NaN,None,NaN,K.Flipkens,5.0
221,None,NaN,None,NaN,None,NaN,Ka.Pliskova,1.0
222,None,NaN,None,NaN,None,NaN,M.Rybarikova,1.0
223,None,NaN,None,NaN,None,NaN,D.Cibulkova,3.0
224,None,NaN,None,NaN,None,NaN,E.Vesnina,1.0
225,None,NaN,None,NaN,None,NaN,A.Glatch,1.0
226,None,NaN,None,NaN,None,NaN,C.Vandeweghe,1.0
227,None,NaN,None,NaN,None,NaN,A.Cadantu,1.0
228,None,NaN,None,NaN,None,NaN,E.Birnerova,2.0
229,None,NaN,None,NaN,None,NaN,S-W.Hsieh,1.0
230,None,NaN,None,NaN,None,NaN,T.Moore,1.0
231,None,NaN,None,NaN,None,NaN,K.Date-Krumm,1.0
232,None,NaN,None,NaN,None,NaN,N.Li,5.0
233,None,NaN,None,NaN,None,NaN,S.Halep,1.0
234,None,NaN,None,NaN,None,NaN,M.Oudin,1.0
235,None,NaN,None,NaN,None,NaN,L.Robson,1.0

In [558]:
pd.read_sql_query('''
                         /* Women player 1 */
WITH t1 AS (SELECT CONCAT(LEFT(al.player1, 1), RIGHT(al.player1, CHAR_LENGTH(al.player1) - POSITION(' ' IN al.player1))) ALp1, COUNT(al.player1) ALc1
            FROM aus_ladies_2013 al
            GROUP BY 1),
     t2 AS (SELECT CONCAT(LEFT(fl.player1, 1), RIGHT(fl.player1, CHAR_LENGTH(fl.player1) - POSITION(' ' IN fl.player1))) FLp1, COUNT(fl.player1) FLc1
            FROM french_ladies_2013 fl
            GROUP BY 1),
     t3 AS (SELECT CONCAT(LEFT(usl.player1, 1), RIGHT(usl.player1, CHAR_LENGTH(usl.player1) - POSITION(' ' IN usl.player1))) USLp1, COUNT(usl.player1) USLc1
            FROM us_ladies_2013 usl
            GROUP BY 1),
     t4 AS (SELECT CONCAT(LEFT(wl.player1, 1), RIGHT(wl.player1, CHAR_LENGTH(wl.player1) - POSITION('.' IN wl.player1))) WLp1, COUNT(wl.player1) WLc1
            FROM wimbledon_ladies_2013 wl
            GROUP BY 1),
     /* Women player 2 */       
     t5 AS (SELECT CONCAT(LEFT(al.player2, 1), RIGHT(al.player2, CHAR_LENGTH(al.player2) - POSITION(' ' IN al.player2))) ALp2, COUNT(al.player2) ALc2
            FROM aus_ladies_2013 al
            GROUP BY 1),
     t6 AS (SELECT CONCAT(LEFT(fl.player2, 1), RIGHT(fl.player2, CHAR_LENGTH(fl.player2) - POSITION(' ' IN fl.player2))) FLp2, COUNT(fl.player2) FLc2
            FROM french_ladies_2013 fl
            GROUP BY 1),
     t7 AS (SELECT CONCAT(LEFT(usl.player2, 1), RIGHT(usl.player2, CHAR_LENGTH(usl.player2) - POSITION(' ' IN usl.player2))) USLp2, COUNT(usl.player2) USLc2
            FROM us_ladies_2013 usl
            GROUP BY 1),
     t8 AS (SELECT CONCAT(LEFT(wl.player2, 1), RIGHT(wl.player2, CHAR_LENGTH(wl.player2) - POSITION('.' IN wl.player2))) WLp2, COUNT(wl.player2) WLc2
            FROM wimbledon_ladies_2013 wl
            GROUP BY 1), 
     /* Men player 1 */       
     t9 AS (SELECT CONCAT(LEFT(am.player1, 1), RIGHT(am.player1, CHAR_LENGTH(am.player1) - POSITION(' ' IN am.player1))) amp1, COUNT(am.player1) amc1
            FROM aus_men_2013 am
            GROUP BY 1),
     t10 AS (SELECT CONCAT(LEFT(fm.player1, 1), RIGHT(fm.player1, CHAR_LENGTH(fm.player1) - POSITION(' ' IN fm.player1))) fmp1, COUNT(fm.player1) fmc1
            FROM french_men_2013 fm
            GROUP BY 1),
     t11 AS (SELECT CONCAT(LEFT(usm.player1, 1), RIGHT(usm.player1, CHAR_LENGTH(usm.player1) - POSITION(' ' IN usm.player1))) usmp1, COUNT(usm.player1) usmc1
             FROM us_men_2013 usm
             GROUP BY 1),
     t12 AS (SELECT CONCAT(LEFT(wm.player1, 1), RIGHT(wm.player1, CHAR_LENGTH(wm.player1) - POSITION('.' IN wm.player1))) wmp1, COUNT(wm.player1) wmc1
            FROM wimbledon_men_2013 wm
            GROUP BY 1),
    /* Men player 2 */
     t13 AS (SELECT CONCAT(LEFT(am.player2, 1), RIGHT(am.player2, CHAR_LENGTH(am.player2) - POSITION(' ' IN am.player2))) amp2, COUNT(am.player2) amc2
            FROM aus_men_2013 am
            GROUP BY 1),
     t14 AS (SELECT CONCAT(LEFT(fm.player2, 1), RIGHT(fm.player2, CHAR_LENGTH(fm.player2) - POSITION(' ' IN fm.player2))) fmp2, COUNT(fm.player2) fmc2
            FROM french_men_2013 fm
            GROUP BY 1),
     t15 AS (SELECT CONCAT(LEFT(usm.player2, 1), RIGHT(usm.player2, CHAR_LENGTH(usm.player2) - POSITION(' ' IN usm.player2))) usmp2, COUNT(usm.player2) usmc2
             FROM us_men_2013 usm
             GROUP BY 1),
     t16 AS (SELECT CONCAT(LEFT(wm.player2, 1), RIGHT(wm.player2, CHAR_LENGTH(wm.player2) - POSITION('.' IN wm.player2))) wmp2, COUNT(wm.player2) wmc2
            FROM wimbledon_men_2013 wm
            GROUP BY 1),
        

            

     women_p1 AS (SELECT *
            FROM t1
            LEFT JOIN t2 ON t1.alp1 = t2.flp1
            LEFT JOIN t3 ON t2.flp1 = t3.uslp1
            LEFT JOIN t4 ON t3.uslp1 = t4.wlp1
            UNION
            SELECT * FROM t1
            RIGHT JOIN t2 ON t1.alp1 = t2.flp1
            LEFT JOIN t3 ON t2.flp1 = t3.uslp1
            LEFT JOIN t4 ON t3.uslp1 = t4.wlp1
            UNION
            SELECT * FROM t1
            RIGHT JOIN t2 ON t1.alp1 = t2.flp1
            RIGHT JOIN t3 ON t2.flp1 = t3.uslp1
            LEFT JOIN t4 ON t3.uslp1 = t4.wlp1
            UNION 
            SELECT * FROM t1
            RIGHT JOIN t2 ON t1.alp1 = t2.flp1
            RIGHT JOIN t3 ON t2.flp1 = t3.uslp1
            RIGHT JOIN t4 ON t3.uslp1 = t4.wlp1
            ),

     women_p2 AS (SELECT *
            FROM t5
            LEFT JOIN t6 ON t5.alp2 = t6.flp2
            LEFT JOIN t7 ON t6.flp2 = t7.uslp2
            LEFT JOIN t8 ON t7.uslp2 = t8.wlp2
            UNION
            SELECT * FROM t5
            RIGHT JOIN t6 ON t5.alp2 = t6.flp2
            RIGHT JOIN t7 ON t6.flp2 = t7.uslp2
            RIGHT JOIN t8 ON t7.uslp2 = t8.wlp2),

     men_p1 AS (SELECT *
            FROM t9
            LEFT JOIN t10 ON t9.amp1 = t10.fmp1
            LEFT JOIN t11 ON t10.fmp1 = t11.usmp1
            LEFT JOIN t12 ON t11.usmp1 = t12.wmp1
            UNION
            SELECT * FROM t9
            RIGHT JOIN t10 ON t9.amp1 = t10.fmp1
            RIGHT JOIN t11 ON t10.fmp1 = t11.usmp1
            RIGHT JOIN t12 ON t11.usmp1 = t12.wmp1),

     men_p2 AS (SELECT *
            FROM t13
            LEFT JOIN t14 ON t13.amp2 = t14.fmp2
            LEFT JOIN t15 ON t14.fmp2 = t15.usmp2
            LEFT JOIN t16 ON t15.usmp2 = t16.wmp2
            UNION
            SELECT * FROM t13
            RIGHT JOIN t14 ON t13.amp2 = t14.fmp2
            RIGHT JOIN t15 ON t14.fmp2 = t15.usmp2
            RIGHT JOIN t16 ON t15.usmp2 = t16.wmp2)

    /* TRY: nested coalesce then group by player */
     SELECT COALESCE(alp1, COALESCE(flp1, COALESCE(uslp1, COALESCE(wlp1, 'None')))) player,
     SUM(COALESCE(alc1, 0)), SUM(COALESCE(flc1, 0)), SUM(COALESCE(uslc1, 0)), SUM(COALESCE(wlc1, 0))
     FROM women_p1 w1
     GROUP BY 1;

    ''', cnx)

                    player  sum  sum  sum  sum
0              CVandeweghe  0.0  1.0  1.0  0.0
1                KPliskova  1.0  2.0  1.0  2.0
2                      NLi  6.0  2.0  0.0  0.0
3                 AWozniak  0.0  0.0  1.0  0.0
4         PMayr-Achleitner  1.0  0.0  0.0  0.0
5                 PKvitova  0.0  3.0  2.0  4.0
6                CWozniack  0.0  0.0  1.0  0.0
7                   LDavis  1.0  0.0  1.0  0.0
8            SForetz Gacon  0.0  1.0  0.0  0.0
9                LTsurenko  1.0  0.0  0.0  1.0
10              ARadwanska  5.0  5.0  0.0  5.0
11             PParmentier  1.0  1.0  0.0  1.0
12                 ZKucova  0.0  1.0  0.0  0.0
13                SVickery  1.0  0.0  0.0  0.0
14                  JZheng  2.0  2.0  1.0  0.0
15                 SRogers  0.0  1.0  0.0  0.0
16             KMladenovic  1.0  2.0  1.0  1.0
17                 BBencic  1.0  0.0  0.0  0.0
18            YBeygelzimer  0.0  1.0  0.0  0.0
19                   ABeck  2.0  1.0  0.0  0.0
20                SLisicki  0.0  3.0  0.0  6.0
21         SSoler-Espinosa  0.0  0.0  0.0  1.0
22                 ACornet  3.0  3.0  3.0  3.0
23                  DVekic  1.0  0.0  0.0  0.0
24              TPironkova  1.0  0.0  0.0  2.0
25                MBarthel  1.0  1.0  0.0  0.0
26               AIvanovic  1.0  0.0  4.0  0.0
27                 KKanepi  1.0  1.0  1.0  1.0
28                   MPuig  1.0  2.0  0.0  3.0
29             BJovanovski  2.0  1.0  1.0  1.0
30               SWilliams  4.0  7.0  6.0  4.0
31              CWitthoeft  1.0  0.0  0.0  0.0
32             DHantuchova  0.0  0.0  2.0  0.0
33                 CGiorgi  1.0  0.0  1.0  2.0
34              DCibulkova  2.0  2.0  0.0  0.0
35             YMeusburger  1.0  0.0  0.0  0.0
36              VDushevina  0.0  0.0  1.0  0.0
37                VRazzano  0.0  2.0  0.0  1.0
38                ACadantu  0.0  0.0  0.0  1.0
39               KFlipkens  0.0  0.0  1.0  1.0
40                MMinella  1.0  0.0  1.0  0.0
41              CDellacqua  3.0  0.0  0.0  0.0
42                EVesnina  0.0  1.0  0.0  1.0
43               OPuchkova  0.0  0.0  0.0  2.0
44               MKrajicek  0.0  0.0  0.0  1.0
45               IPavlovic  0.0  1.0  0.0  0.0
46               JJankovic  4.0  4.0  3.0  2.0
47                   IBegu  0.0  1.0  0.0  0.0
48              ESvitolina  1.0  0.0  0.0  0.0
49                 CGarcia  1.0  0.0  0.0  1.0
50                 AMorita  0.0  1.0  0.0  1.0
51                 AKerber  4.0  0.0  0.0  0.0
52               ORogowska  2.0  0.0  1.0  0.0
53         ECabeza Candela  0.0  0.0  0.0  1.0
54                  ABarty  0.0  2.0  1.0  0.0
55            DPfizenmaier  1.0  2.0  1.0  0.0
56                  SHalep  1.0  1.0  1.0  1.0
57              CScheepers  1.0  1.0  0.0  0.0
58              MNiculescu  1.0  1.0  0.0  1.0
59               NKichenok  1.0  0.0  0.0  0.0
60              VLepchenko  1.0  3.0  1.0  0.0
61            ATomljanovic  0.0  0.0  0.0  1.0
62               MBurdette  0.0  1.0  0.0  1.0
63             GVoskoboeva  1.0  2.0  0.0  0.0
64              SZahlavova  0.0  1.0  0.0  0.0
65            NBratchikova  0.0  1.0  0.0  1.0
66             OGovortsova  1.0  0.0  1.0  1.0
67                TPereira  1.0  0.0  0.0  0.0
68                 SErrani  0.0  0.0  0.0  1.0
69                LKumkhum  1.0  0.0  0.0  0.0
70           LArruabarrena  0.0  0.0  0.0  1.0
71                JGoerges  1.0  1.0  1.0  0.0
72              CWozniacki  0.0  2.0  2.0  0.0
73             ATatishvili  0.0  0.0  0.0  1.0
74               GMuguruza  2.0  0.0  0.0  2.0
75               EBouchard  4.0  2.0  1.0  2.0
76                SCirstea  1.0  0.0  0.0  0.0
77                  MCzink  0.0  1.0  0.0  0.0
78               EMakarova  3.0  0.0  2.0  0.0
79               EBaltacha  0.0  0.0  0.0  1.0
80           MDuque-Marino  0.0  0.0  0.0  1.0
81               SStephens  4.0  1.0  0.0  4.0
82           BMattek-Sands  1.0  3.0  0.0  1.0
83                JLarsson  1.0  1.0  0.0  1.0
84                  KKnapp  1.0  1.0  1.0  1.0
85              POrmaechea  1.0  1.0  2.0  0.0
86               VWilliams  0.0  0.0  1.0  0.0
87                   SPeng  0.0  1.0  1.0  0.0
88           AVan Uytvanck  1.0  0.0  0.0  0.0
89             MRybarikova  0.0  1.0  0.0  0.0
90              URadwanska  0.0  1.0  1.0  0.0
91              EBirnerova  0.0  0.0  0.0  1.0
92               FPennetta  3.0  1.0  2.0  0.0
93                 PMartic  0.0  1.0  0.0  1.0
94                 TPaszek  0.0  1.0  0.0  0.0
95              PCetkovska  0.0  2.0  0.0  2.0
96                KBertens  1.0  1.0  0.0  1.0
97                  ARiske  1.0  0.0  2.0  1.0
98                   VKing  0.0  2.0  0.0  0.0
99                   SPeer  1.0  0.0  0.0  0.0
100              VAzarenka  0.0  1.0  0.0  0.0
101                CMcHale  2.0  0.0  1.0  1.0
102                   ARus  0.0  1.0  0.0  0.0
103                  KNara  2.0  0.0  1.0  0.0
104                 SHsieh  1.0  1.0  0.0  1.0
105              JCepelova  0.0  2.0  0.0  0.0
106        LDominguez Lino  1.0  0.0  0.0  0.0
107               MCamerin  0.0  0.0  0.0  1.0
108               SVoegele  1.0  2.0  0.0  1.0
109        CSuarez Navarro  3.0  1.0  1.0  3.0
110            MTorro-Flor  0.0  1.0  0.0  2.0
111               ROprandi  0.0  1.0  0.0  1.0
112                VDolonc  1.0  0.0  0.0  1.0
113            SKuznetsova  0.0  2.0  3.0  0.0
114                 VDuval  0.0  0.0  1.0  0.0
115                 RVinci  1.0  0.0  1.0  4.0
116                 KPiter  1.0  0.0  0.0  0.0
117              APetkovic  1.0  0.0  0.0  0.0
118                SStosur  3.0  0.0  0.0  0.0
119               NPetrova  0.0  1.0  0.0  0.0
120      MLarcher De Brito  0.0  0.0  0.0  2.0
121                HWatson  1.0  0.0  1.0  1.0
122           AA.Radwanska  0.0  0.0  2.0  0.0
123      AMedina Garrigues  1.0  0.0  0.0  1.0
124            KZakopalova  0.0  1.0  0.0  3.0
125               JGlushko  1.0  0.0  1.0  0.0
126             FSchiavone  1.0  2.0  0.0  0.0
127                LRobson  1.0  0.0  3.0  2.0
128              LSafarova  0.0  0.0  0.0  2.0
129        APavlyuchenkova  0.0  2.0  0.0  1.0
130             SArvidsson  0.0  0.0  1.0  1.0
131            YPutintseva  0.0  1.0  0.0  1.0
132            KDate-Krumm  0.0  1.0  0.0  2.0
133  AKarolina Schmiedlova  0.0  2.0  0.0  0.0
134             MJohansson  0.0  1.0  0.0  0.0
135               MKoehler  0.0  0.0  0.0  1.0
136                 TBabos  1.0  0.0  0.0  1.0
137                  MKeys  0.0  1.0  0.0  1.0
138                 ZDiyas  2.0  0.0  0.0  0.0
139              LHradecka  1.0  0.0  1.0  1.0
140    BZahlavova Strycova  1.0  1.0  0.0  1.0
141             YWickmayer  1.0  0.0  0.0  1.0
142                 MOudin  0.0  1.0  0.0  0.0
143          MLucic-Baroni  1.0  0.0  0.0  0.0
144           ASchmiedlova  0.0  0.0  0.0  1.0
145               MBartoli  0.0  3.0  0.0  5.0
146               TMajeric  1.0  0.0  0.0  0.0
147               JHampton  0.0  2.0  3.0  0.0
148              MErakovic  1.0  2.0  0.0  1.0
149                 TMaria  0.0  1.0  0.0  0.0
150                 SZhang  1.0  0.0  0.0  0.0
151             MKirilenko  0.0  1.0  1.0  1.0

In [ ]:
w1.alp1 = w2.alp1 OR w1.alp1 = w2.flp1 OR w1.alp1 = w2.uslp1 OR w1.alp1 = w2.wlp1 OR
     w1.flp1 = w2.flp1 OR w1.flp1 = w2.uslp1 OR w1.flp1 = w2.wlp1 OR
     w1.uslp1 = w2.uslp1 OR w2.uslp1 = w2.wlp1 OR
     w1.wlp1 = w2.wlp1)