In [1]:
import pandas as pd

In [2]:
from sshtunnel import SSHTunnelForwarder

AWS_IP_ADDRESS = '54.189.184.164'
AWS_USERNAME = 'luke'
SSH_KEY_PATH = '/users/luketibbott/.ssh/id_rsa'

server = SSHTunnelForwarder(
    AWS_IP_ADDRESS,
    ssh_username=AWS_USERNAME,
    ssh_pkey=SSH_KEY_PATH,
    remote_bind_address=('localhost', 5432),
)

server.start()
print(server.is_active, server.is_alive, server.local_bind_port)

True True 56831

In [3]:
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_IP_ADDRESS = 'localhost' ## This is localhost because SSH tunnel is active
POSTGRES_PORT = str(server.local_bind_port)
POSTGRES_USERNAME = 'luke'     ## CHANGE THIS TO YOUR POSTGRES USERNAME
POSTGRES_PASSWORD = 'luke' ## CHANGE THIS TO YOUR POSTGRES PASSWORD
POSTGRES_DBNAME = 'tennis'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME, 
                        password=POSTGRES_PASSWORD,
                        ipaddress=POSTGRES_IP_ADDRESS,
                        port=POSTGRES_PORT,
                        dbname=POSTGRES_DBNAME))

# Create the connection
cnx = create_engine(postgres_str)

In [4]:
cnx.table_names()

['aus_ladies_2013',
 'aus_men_2013',
 'us_men_2013',
 'us_ladies_2013',
 'french_men_2013',
 'french_ladies_2013',
 'wimbledon_men_2013',
 'wimbledon_ladies_2013']

**Question 1:** Using the same tennis data, find the number of matches played by each player in each tournament. (Remember that a player can be present as both player1 or player2).

In [25]:
pd.read_sql_query('''
                    WITH t1 AS (SELECT DISTINCT al.player1 ALp1, COUNT(al.player1) ALc1
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t2 AS (SELECT DISTINCT fl.player1 FLp1, COUNT(fl.player1) FLc1
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t3 AS (SELECT DISTINCT usl.player1 USLp1, COUNT(usl.player1) USLc1
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t4 AS (SELECT DISTINCT wl.player1 WLp1, COUNT(wl.player1) WLc1
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1),
                                
                         t5 AS (SELECT DISTINCT al.player2 ALp2, COUNT(al.player2) ALc2
                                FROM aus_ladies_2013 al
                                GROUP BY 1),
                         t6 AS (SELECT DISTINCT fl.player2 FLp2, COUNT(fl.player2) FLc2
                                FROM french_ladies_2013 fl
                                GROUP BY 1),
                         t7 AS (SELECT DISTINCT usl.player2 USLp2, COUNT(usl.player2) USLc2
                                FROM us_ladies_2013 usl
                                GROUP BY 1),
                         t8 AS (SELECT DISTINCT wl.player2 WLp2, COUNT(wl.player2) WLc2
                                FROM wimbledon_ladies_2013 wl
                                GROUP BY 1), 
                                
                         women_p1 AS (SELECT *
                                FROM t1
                                FULL OUTER JOIN t2
                                ON t1.ALp1 = t2.FLp1
                                FULL OUTER JOIN t3
                                ON t1.ALp1 = t3.USLp1 AND t2.FLp1 = t3.USLp1
                                FULL OUTER JOIN t4
                                ON t1.ALp1 = t4.WLp1 AND t2.FLp1 = t4.WLp1 AND t3.USLp1 = t4.WLp1),
                                
                         women_p2 AS (SELECT *
                                 FROM t5
                                 FULL OUTER JOIN t6
                                 ON t5.ALp2 = t6.FLp2
                                 FULL OUTER JOIN t7
                                 ON t5.ALp2 = t7.USLp2 AND t6.FLp2 = t7.USLp2
                                 FULL OUTER JOIN t8
                                 ON t5.ALp2 = t8.WLp2 AND t6.FLp2 = t8.WLp2 AND t7.USLp2 = t8.WLp2
                         )
                    
                    SELECT *
                    FROM women_p2
                  ''', cnx)

,alp2,alc2,flp2,flc2,uslp2,uslc2,wlp2,wlc2
0,Ana Ivanovic,4.0,Ana Ivanovic,4.0,None,NaN,None,NaN
1,Ayumi Morita,2.0,None,NaN,None,NaN,None,NaN
2,Polona Hercog,1.0,None,NaN,None,NaN,None,NaN
3,Shuai Peng,1.0,Shuai Peng,1.0,None,NaN,None,NaN
4,Zarina Diyas,1.0,None,NaN,None,NaN,None,NaN
5,Yung-Jan Chan,1.0,None,NaN,None,NaN,None,NaN
6,Flavia Pennetta,2.0,None,NaN,None,NaN,None,NaN
7,Anna Tatishvili,1.0,Anna Tatishvili,1.0,None,NaN,None,NaN
8,Maria Sharapova,4.0,Maria Sharapova,7.0,None,NaN,None,NaN
9,Jie Zheng,1.0,Jie Zheng,1.0,None,NaN,None,NaN
10,Casey Dellacqua,1.0,None,NaN,None,NaN,None,NaN
11,Na Li,1.0,None,NaN,None,NaN,None,NaN
12,Camila Giorgi,1.0,Camila Giorgi,1.0,None,NaN,None,NaN
13,Kirsten Flipkens,2.0,Kirsten Flipkens,2.0,None,NaN,None,NaN
14,Ajla Tomljanovic,2.0,None,NaN,None,NaN,None,NaN
15,Victoria Azarenka,5.0,Victoria Azarenka,5.0,None,NaN,None,NaN
16,Petra Martic,1.0,None,NaN,None,NaN,None,NaN
17,Sabine Lisicki,2.0,None,NaN,None,NaN,None,NaN
18,Kurumi Nara,1.0,None,NaN,None,NaN,None,NaN
19,Ying-Ying Duan,1.0,None,NaN,None,NaN,None,NaN
20,Eugenie Bouchard,2.0,None,NaN,None,NaN,None,NaN
21,Lucie Hradecka,1.0,Lucie Hradecka,1.0,None,NaN,None,NaN
22,Varvara Lepchenko,1.0,None,NaN,None,NaN,None,NaN
23,Ekaterina Makarova,1.0,Ekaterina Makarova,1.0,None,NaN,None,NaN
24,Daniela Hantuchova,3.0,Daniela Hantuchova,1.0,None,NaN,None,NaN
25,Kimiko Date-Krumm,1.0,None,NaN,None,NaN,None,NaN
26,Vania King,1.0,None,NaN,None,NaN,None,NaN
27,Karolina Pliskova,1.0,None,NaN,None,NaN,None,NaN
28,Alexandra Cadantu,1.0,Alexandra Cadantu,1.0,None,NaN,None,NaN
29,Mona Barthel,2.0,None,NaN,None,NaN,None,NaN
...,...,...,...,...,...,...,...,...
227,None,NaN,None,NaN,None,NaN,S.Murray,1.0
228,None,NaN,None,NaN,None,NaN,S.Halep,1.0
229,None,NaN,None,NaN,None,NaN,J.Konta,1.0
230,None,NaN,None,NaN,None,NaN,K.Knapp,3.0
231,None,NaN,None,NaN,None,NaN,K.Flipkens,5.0
232,None,NaN,None,NaN,None,NaN,M.Johansson,2.0
233,None,NaN,None,NaN,None,NaN,S.Stephens,1.0
234,None,NaN,None,NaN,None,NaN,A.Glatch,1.0
235,None,NaN,None,NaN,None,NaN,A.Cadantu,1.0
236,None,NaN,None,NaN,None,NaN,D.Hantuchova,1.0
237,None,NaN,None,NaN,None,NaN,M.Rybarikova,1.0
238,None,NaN,None,NaN,None,NaN,G.Voskoboeva,1.0
239,None,NaN,None,NaN,None,NaN,M.Sharapova,2.0
240,None,NaN,None,NaN,None,NaN,M.Keys,2.0
241,None,NaN,None,NaN,None,NaN,P.Cetkovska,1.0
242,None,NaN,None,NaN,None,NaN,C.Scheepers,1.0
243,None,NaN,None,NaN,None,NaN,B.Jovanovski,1.0
244,None,NaN,None,NaN,None,NaN,L.Robson,1.0
245,None,NaN,None,NaN,None,NaN,A.Rus,1.0
246,None,NaN,None,NaN,None,NaN,E.Birnerova,2.0
247,None,NaN,None,NaN,None,NaN,M.Larcher De Brito,1.0
248,None,NaN,None,NaN,None,NaN,A.Beck,2.0
249,None,NaN,None,NaN,None,NaN,S.Stosur,3.0
250,None,NaN,None,NaN,None,NaN,N.Li,5.0
251,None,NaN,None,NaN,None,NaN,T.Pironkova,2.0
252,None,NaN,None,NaN,None,NaN,M.Bartoli,2.0
253,None,NaN,None,NaN,None,NaN,T.Maria,1.0
254,None,NaN,None,NaN,None,NaN,C.Suarez Navarro,1.0
255,None,NaN,None,NaN,None,NaN,K.Date-Krumm,1.0
256,None,NaN,None,NaN,None,NaN,A.Keothavong,1.0

In [ ]:
pd.read_sql_query('''
                    WITH p1s AS
                        (SELECT al.player1 ALp1, am.player1 AMp1, um.player1 UMp1, ul.player1 ULp1,
                         fm.player1 FMp1, fl.player1 FLp1, wm.player1 WMp1, wl.player1 WLp1 
                        FROM aus_ladies_2013 al, aus_men_2013 am, us_men_2013 um, us_ladies_2013 ul,
                             french_men_2013 fm, french_ladies_2013 fl, wimbledon_men_2013 wm, 
                             wimbledon_ladies_2013 wl)
                             
                    SELECT *
                    FROM p1s;
                  ''', cnx)

In [ ]:
pd.read_sql_query('''
                    SELECT player1
                    FROM aus_ladies_2013 al, aus_men_2013 am, us_men_2013 usm, us_ladies_2013 usl,
                         french_men_2013 fm, french_ladies_2013 fl, wimbledon_men_2013 wm,
                         wimbledon_ladies_2013 wl
                  ''', cnx)

In [7]:
pd.read_sql_query('''
                    SELECT player1
                    FROM aus_ladies_2013 al
                    OUTER JOIN aus_men_2013 am
                    ON am.player1 = al.player1
                    OUTER JOIN us_men_2013 usm
                    ON us_ladies_2013 usl,
                         french_men_2013 fm, french_ladies_2013 fl, wimbledon_men_2013 wm,
                         wimbledon_ladies_2013 wl
                  ''', cnx)

ProgrammingError: (psycopg2.ProgrammingError) column reference "player1" is ambiguous
LINE 2:                     SELECT player1
                                   ^
 [SQL: '\n                    SELECT player1\n                    FROM aus_ladies_2013 al, aus_men_2013 am, us_men_2013 usm, us_ladies_2013 usl,\n                         french_men_2013 fm, french_ladies_2013 fl, wimbledon_men_2013 wm,\n                         wimbledon_ladies_2013 wl\n                  '] (Background on this error at: http://sqlalche.me/e/f405)

In [5]:
pd.read_sql_query('''
                    WITH t1 AS (
                        SELECT player1, COUNT(al.player1) count1, 
                        FROM aus_ladies_2013 al, aus_men_2013 am, us_men_2013 usm, us_ladies_2013 usl,
                             french_men_2013 fm, french_ladies_2013 fl, wimbledon_men_2013 wm,
                             wimbledon_ladies_2013 wl
                        GROUP BY 1),
                        
                        t2 AS (
                            SELECT al.player2 al_player2, COUNT(al.player2) count2
                            FROM aus_ladies_2013 al 
                            GROUP BY 1), 
                        
                        aus_ladies AS (
                            SELECT t1.al_player1, (t1.count1 + t2.count2) AS appearances_ausladies
                            FROM t1
                            JOIN t2
                            ON t1.al_player1 = t2.al_player2
                            ORDER BY 1),
                            
                            
                        SELECT * 
                        FROM aus_ladies;
                  ''', cnx)

                    al_player1  appearances_ausladies
0          Agnieszka Radwanska                      6
1                 Alison Riske                      3
2                 Ana Ivanovic                      5
3   Barbora Zahlavova Strycova                      2
4               Belinda Bencic                      2
5                Camila Giorgi                      2
6              Casey Dellacqua                      4
7           Dominika Cibulkova                      7
8           Ekaterina Makarova                      4
9              Elina Svitolina                      3
10            Eugenie Bouchard                      6
11             Flavia Pennetta                      5
12           Galina Voskoboeva                      2
13            Garbine Muguruza                      4
14                   Jie Zheng                      3
15               Julia Goerges                      2
16                 Karin Knapp                      2
17           Karolina Pliskova                      2
18                 Kurumi Nara                      3
19                Lauren Davis                      3
20              Lucie Hradecka                      2
21             Luksika Kumkhum                      2
22               Mandy Minella                      2
23             Marina Erakovic                      2
24                Mona Barthel                      3
25            Monica Niculescu                      3
26                 Monica Puig                      2
27                       Na Li                      7
28             Olga Govortsova                      2
29                Simona Halep                      5
30            Stefanie Voegele                      2
31          Tsvetana Pironkova                      2
32           Varvara Lepchenko                      2
33                Vesna Dolonc                      2
34            Yanina Wickmayer                      2
35           Yvonne Meusburger                      3
36                Zarina Diyas                      3

In [12]:
pd.read_sql_query('''
                    SELECT player2, COUNT(player2)
                    FROM aus_ladies_2013
                    GROUP BY 1
                  ''', cnx)

                       player2  count
0                Petra Kvitova      1
1             Anna Schmiedlova      2
2            Yvonne Meusburger      2
3           Tsvetana Pironkova      1
4              Luksika Kumkhum      1
5               Venus Williams      1
6                Irina Falconi      2
7   Barbora Zahlavova Strycova      1
8                  Sara Errani      1
9           Irina-Camelia Begu      1
10                Alison Riske      2
11               Elena Vesnina      1
12             Maria Sharapova      4
13            Garbine Muguruza      2
14           Lara Arruabarrena      1
15          Yaroslava Shvedova      1
16           Galina Voskoboeva      1
17          Dominika Cibulkova      5
18            Virginie Razzano      2
19          Daniela Hantuchova      3
20               Polona Hercog      1
21                Mona Barthel      2
22                Madison Keys      2
23               Yung-Jan Chan      1
24               Camila Giorgi      1
25                   Jie Zheng      1
26                 Kurumi Nara      1
27                Petra Martic      1
28            Kirsten Flipkens      2
29          Ekaterina Makarova      1
..                         ...    ...
53            Yanina Wickmayer      1
54         Svetlana Kuznetsova      1
55                 Monica Puig      1
56                Lauren Davis      2
57              Belinda Bencic      1
58         Agnieszka Radwanska      1
59                Ana Ivanovic      4
60          Caroline Wozniacki      3
61               Mandy Minella      1
62             Elina Svitolina      2
63            Monica Niculescu      2
64           Alla Kudryavtseva      2
65                  Shuai Peng      1
66                Zarina Diyas      1
67             Anna Tatishvili      1
68             Casey Dellacqua      1
69                       Na Li      1
70            Eugenie Bouchard      2
71              Ying-Ying Duan      1
72    Anastasia Pavlyuchenkova      3
73                Simona Halep      4
74           Varvara Lepchenko      1
75              Lucie Hradecka      1
76           Victoria Azarenka      5
77           Karolina Pliskova      1
78           Alexandra Cadantu      1
79           Jarmila Gajdosova      1
80              Ashleigh Barty      1
81                  Ana Konjuh      1
82            Klara Zakopalova      1

[83 rows x 2 columns]